[2015-03-26 09:34] leader80 opened #1 "Roles assigned people not displayed correctly"
Hi Lavagna crew,

while entering the role tab in the setting section of my dashboard I just see the list of Roles but I don't see who is assigned to them.
Only after typing the name of somebody belonging to the Lavagna project I see who belongs to which group, is this behavior correct?

[2015-03-26 09:40] leader80 opened #2 "RFE - No feedback on update"
Hi Lavagna crew,

while updating the name and the description fields of a project (under project settings), I don't see neither positive nor negative feedback.
Is it possible to add this feature?

Thanks
G

[2015-03-26 19:52] syjer commented on #1
Hi, yep, you are right :).

Will be fixed in the next milestone.

[2015-03-26 19:54] syjer commented on #2
Good catch, will fix it in M2

[2015-03-26 20:02] syjer commented on #1
as a note: to reproduce this problem: the user must not be a an administrator but it must have the project admin role.

[2015-03-30 15:35] syjer commented on #2
Confirming that it's fixed :+1: , will be deployed soon.

[2015-03-30 15:35] #2 closed

[2015-03-30 16:24] syjer commented on #1
should be fixed. I've deployed on openshift the latest commit.

[2015-03-31 11:48] leader80 opened #3 "HTTP ERROR 403 on page refresh"
Hi Lavagna crew,
if you are in the settings section under Roles edit and you press refresh (ctrl+R or F5) it throws an error 403 and you need to go back to dashboard to make the application work again.

Cheers
L

[2015-03-31 11:58] leader80 commented on #1
while landing on the roles page (under the dash settings) I still don't see the assigned people.

[2015-03-31 12:01] syjer commented on #1
whelp, I'll check

[2015-03-31 12:06] leader80 opened #4 "Milestone editing (setting section)"
Hi Crew,

while editing a milestone it shows a tick, once editing of the label is done I tried to save it with the tick, but without success. If I go away from the side and I come back the change is lost.

Cheers
L

EDIT: actually the tick doesn't do anything

![tick](https://cloud.githubusercontent.com/assets/73665/6918462/2f49aa92-d7af-11e4-9377-0cf995df1995.jpg)

[2015-03-31 12:18] syjer commented on #4
Most likely a role issue after my changes :(

https://github.com/digitalfondue/lavagna/blob/db724d35333732c2592b3fc555aa63d5bad03df8/src/main/java/io/lavagna/web/api/CardLabelController.java#L151 the permission checked is Permission.PROJECT_ADMINISTRATION which your user should have.

[2015-03-31 12:23] syjer commented on #3
Most likely related to #1 and #3 (because there is a permission check) . The fix that I've did for #1 seems uncomplete.

[2015-03-31 21:10] syjer commented on #4
should be fixed and deployed on openshift, thanks for the report :D

[2015-03-31 21:10] syjer commented on #3
should be fixed and deployed on openshift, thanks for the report :D

[2015-03-31 21:10] syjer commented on #1
should *really* be fixed and deployed on openshift, thanks for the report :D

[2015-04-02 11:43] leader80 opened #5 "Error by removing a role"
Hi Crew,

under the setting section I cannot remove a custom role.

![error](https://cloud.githubusercontent.com/assets/73665/6963328/2ead2d3a-d93e-11e4-80da-ea0e3eb90e19.png)

[2015-04-02 11:45] leader80 commented on #1
Seems okay right now to me, good job!

[2015-04-02 11:47] leader80 commented on #3
I see a strange error message at the bottom of the window during refresh
![error2](https://cloud.githubusercontent.com/assets/73665/6963365/c7b3fc98-d93e-11e4-97aa-c6cfcef40f12.png)

[2015-04-02 12:00] #1 closed

[2015-04-02 12:02] syjer commented on #3
This message is shown when the websocket connection is closed (which happen when the page is refreshed/closed).

I'm wondering if we are able to detect the refresh event and suppress the message.

[2015-04-02 12:04] leader80 commented on #3
couldn't you just suppress the refresh event?
Anyway it is possible to detect it.

[2015-04-02 12:07] syjer commented on #5
Nice catch, we forgot to call the removal of the permission of a roles.

From the log:

[code]

We need to do that for both project related roles and base roles.

[2015-04-02 12:09] leader80 commented on #4
It is saving the new value, anyway I think it could be nice to inform the user of the stressfulness of the action, right now no message is shown.

[2015-04-02 12:09] syjer commented on #3
Well, for sure listening to the window.close event can be a good entry point. I'm hoping that it's enough.

Or maybe listening to the $destroy event from the attached $rootScope from angular.

[2015-04-02 12:17] leader80 commented on #3
I did something like that in the past:
$rootScope.$on('$routeChangeStart', function())
And then check if it is the same page.

-> not really sure if it is the best way :(

[2015-04-02 12:19] syjer commented on #3
$window.addEventListener("beforeunload",function() {ignoreErrorOnApplicationDestroy = true;});

Seems to work :)

[2015-04-02 14:22] syjer commented on #3
deployed on openshift

[2015-04-02 14:22] #3 closed

[2015-04-02 14:22] syjer commented on #5
deployed on openshift

[2015-07-28 20:47] syjer commented on #5
cleanup issues :)

[2015-07-28 20:47] #5 closed

[2015-07-28 20:48] syjer commented on #4
cleanup issues :)

[2015-07-28 20:48] #4 closed

[2015-08-10 13:10] tomcashman opened #7 "[Feature Request] Web hooks"
It would be great if it was possible for Lavagna to listen for and send web hooks based on certain events.

Example use cases:
* In Gitlab/Github/Service Desk software I could configure my project to post a JSON object to a web hook that would automatically create an new work item on a board
* When a work item is moved to a Done column a JSON object could be posted from Lavagna to a configurable U

[2015-08-10 13:16] syjer commented on #7
Strongly agree :).

It's something that is planned for a next release.

[2015-08-10 20:52] cfarence opened #8 "[Feature Request] Gitlab oAuth"
It would be nice if you could use a self hosted Gitlab as a login providor. This would go well with #7, since gitlabs web hooks are similar to Github's it should be easy to support both.

[2015-08-10 21:12] syjer commented on #8
Yes, agree, in the overhaul of the authentication system, I'll integrate a more flexible solution for the oauth part :)

[2015-08-11 17:12] Kickball commented on #7
This feature would make Lavagna a major player (in my opinion anyway).

Look forward to seeing it implemented!

[2015-08-11 18:23] syjer commented on #7
If you could provide some additional uses cases it would be cool, as I don't want to miss some very obvious one :)

[2015-08-11 19:16] Kickball commented on #7
I'm currently using Taiga, and I'm having some problems integrating with Github, these are the relevant support pages though.

* [Github Intergration](https://taiga.io/support/github-integration/)
* [Webhooks](https://taiga.io/support/webhooks/)
* [More Webhooks](http://taigaio.github.io/taiga-doc/dist/webhooks.html)
* [Taiga Webhook Code](https://github.com/taigaio/taiga-back/tree/master/taiga/ho

[2015-08-12 09:37] leegeng opened #9 "language problem"
Although mysql database uses utf-8 encoding, korean language is broken when I update any text.
I tried to update it directly on mysql, it works.

I think something is wrong with updating text.
I will find out exact reason, and give you some clues.

For test, try to make a card with named "한글 테스트"

[2015-08-12 09:44] leegeng commented on #9
sorry, my bad. My mysql setting was wrong. :(
![Uploading 스크린샷 2015-08-12 오후 6.43.43.png…]()

[2015-08-12 09:44] #9 closed

[2015-08-12 20:15] 0ptimus opened #10 "Cannot start Lavagna on Ubuntu 14.04"
Tried running Lavagna on my Ubuntu 14.04 server and got the errors below when trying to launch with ./lavagna.sh (I have MySQL 5.5, java version 1.7.0_75 and have installed libmysql-java)...

Note: database called "lavagna" was created in MySQL with user "someuser" granted ALL privileges.
....
./lavagna.sh: line 54: -Ddatasource.dialect=MYSQL: command not found
./lavagna.sh: line 55: -Ddatasource.

[2015-08-12 20:20] syjer commented on #10
Uh, strange, it seems that it's executing each line, the command should be a single line, that's why there is a '\' character, as you can see from: https://github.com/digitalfondue/lavagna/blob/master/src/assembly/lavagna.sh

If you have removed the '\', you should put them.

[2015-08-12 20:20] syjer commented on #10
(and you don't need to install libmysql-java, everything is included out of the box in lavagna :))

[2015-08-13 14:39] 0ptimus commented on #10
Thanks, somehow I had removed the '\'s.  Now I started and get a Jetty error.
![lavagna_jetty_error](https://cloud.githubusercontent.com/assets/1253770/9252636/5b35ae50-418e-11e5-9b93-930cec0a2a5d.jpg)

[2015-08-13 14:46] syjer commented on #10
Hi,

You must configure lavagna, go to the /setup page, as described in the setup section of the manual: http://help.lavagna.io/02-install/02-03-setup.html

[2015-08-13 16:50] 0ptimus commented on #10
Thank you, I was able to complete set up.

[2015-08-13 16:50] #10 closed

[2015-08-13 16:59] 0ptimus opened #11 "Way to set project specific permissions?"
Just started playing with Lavagna and using LDAP authentication (nice!).  Is there any way to set project specific permissions to users?  For example I have a project ("project1"), I want user1 to be an "project administrator" just on a project1 and be able to add/update/delete anything for a project.  And for user2, just have read/add/update but no delete.  And another user3, would only have read

[2015-08-13 17:44] erost commented on #11
Hi 0ptimus,
yes that's definitely possible.
How to do it:
1. a general Administrator user should setup the project first and then, in the project settings, create a role that works as a project administrator and add user1 to it. At this point, user1 can configure anything related to your project.
2. user1 can then create additional roles with the permissions you need for user2 and user3, and add t

[2015-08-13 17:46] syjer commented on #11
Adding over what @erost  said, on the global role level, you can create a simple "BASIC" role with the following permission:
 - UPDATE_PROFILE
 - SEARCH

And assign the users that need a restricted access.

Then in each project, you create the various roles with the necessary permissions.

[2015-08-13 22:22] 0ptimus commented on #11
Thanks @erost and @syjer !  Will take a look and try out those tips.

[2015-08-14 09:11] cfarence commented on #7
@Kickball I've tried Taiga before, had problems integrating with my Gitlab server. Web hooks with this would make it great with a Gitlab server.

[2015-08-14 10:53] Kickball commented on #7
Yeah the Taiga hooks are not perfect, but they might be a good basis for Lavagna to work from.

[2015-08-14 11:31] syjer commented on #7
Rest assured that we will try to do a good (and flexible!) webhook implementation :)

The work on it will begin after we have upgraded/refactored the authentication system. I'll provide a more clear/defined roadmap.

[2015-08-14 20:32] armstrhb opened #12 "JS looping errors after successful login"
Hello Lavagna team,

We've set up Lavagna 1.0.0 (also tried with the new 1.0.1 published today) within Tomcat8.  Went through set up successfully, but after login, the javascript console logs are spammed with the following error (as if through loop):

    app.js:1452 Uncaught Error: [$rootScope:infdig] http://errors.angularjs.org/1.2.28/$rootScope/infdig?p0=10&p1=%5B%5B%22fn%3…  D!1%3Breturn%20n%7

[2015-08-14 20:44] syjer commented on #12
@armstrhb

Thanks for the report, I'll try to fix the issue ASAP.

[2015-08-14 21:08] syjer commented on #12
@armstrhb Ok, I'm able to reproduce the bug locally, sorry about not testing the application on tomcat 8 :(. I'll do a fix and a release.

[2015-08-14 21:27] syjer commented on #12
(the issue is present on tomcat7 too)

[2015-08-14 21:38] syjer commented on #12
Ok, the issue was caused by the fact that tomcat was serving the unprocessed template directly, bypassing the controller that was processing the root directory of the application.

@armstrhb  Thanks for the opening this issue. I'll do a 1.0.2 release.

[2015-08-14 22:24] syjer commented on #12
@armstrhb could you try the release 1.0.2: https://repo1.maven.org/maven2/io/lavagna/lavagna/1.0.2/lavagna-1.0.2-distribution.zip  ?

[2015-08-15 01:58] armstrhb commented on #12
@syjer thanks for the quick turnaround, issue is corrected. Thanks again!

[2015-08-15 09:30] syjer commented on #12
@armstrhb Thanks for the bug report :).

[2015-08-15 09:30] #12 closed

[2015-08-16 16:46] arjitc opened #13 "Run first time on Public IP?"
Hello,
Lavagna defaults / redirects to localhost:8080/ right after I input my public_ip:8080, is there anyway to hardset the IP address during launch?

[2015-08-16 17:11] syjer commented on #13
Hi @arjitc ,

The address is stored in the table LA_CONF with the key BASE_APPLICATION_URL , you can modify it with your preferred sql client :).

[2015-08-16 17:13] arjitc commented on #13
Ah any way to set this under the dev option? / quick use option? But yes, I'll give it a try with a mysql backend, screenshots look like what I just need :+1:

[2015-08-16 17:17] syjer commented on #13
Unfortunately not at the moment. For the next version we will remove the need of this variable in the login process, thanks for opening the bug :). It's a nice reminder :D

[2015-08-16 19:43] arjitc commented on #13
ah okay, I'll give the standard/production setup a try later today :+1:

[2015-08-18 17:09] Kickball opened #14 "Add to Awesome-Sysadmin"
Once the project is a bit more developed you can add it to: https://github.com/n1trux/awesome-sysadmin#project-management

[2015-08-20 02:25] LinkBenjamin opened #15 "[Feature Request] Duplicate a Board (and all its contents)"
Lavagna team,

I'd like to request a "Duplicate Board" button in the menu for board operations; I envision it then asking me what project I'd like to put the new copy into, and what to name the new board.

We have a project activity with a predefined set of tasks that we repeat for different customers.  We'd like to create a lavagna project with the "template"  board in it that has all the columns

[2015-08-20 06:31] syjer commented on #15
Hi @LinkBenjamin , we have planedn about some kind of template system for avoiding  to setup  a whole project/board every time.

Maybe it will not be exactly a "duplicate board" feature but something similar that will fullfill your use case.

Thanks for opening the issue :D

[2015-08-20 11:42] LinkBenjamin commented on #15
Great news!  I look forward to seeing it in action!

[2015-08-21 22:27] syjer commented on #13
FYI, this issue has been fixed in the master. So it will be present in the 1.1 and 1.0.3 release.

[2015-08-23 19:45] smvarela opened #16 "Icons not shown."
In Fedora Linux 22 (64 bits) with Lavagna 1.0.2, the icons are not shown correctly. The problem occurs in Chrome 46, but in the same machine with Firefox the icons are shown without problem.
Attached two images to show the difference.

![lavagna-chrome](https://cloud.githubusercontent.com/assets/10855160/9429894/1263fede-49e0-11e5-8847-f0d3d907082b.jpg)
![lavagna-firefox](https://cloud.githubuserc

[2015-08-23 20:00] syjer commented on #16
Hi @smvarela , it seems that you have the same issue as reported in https://github.com/digitalfondue/lavagna-docker/issues/1 .

If the browser does not send the cookie it's most likely the same issue (that will be fixed when you will receive the update to chrome)

[2015-08-23 20:43] smvarela commented on #16
Hi, you are right, seems to be the same issue. The cookies are not send by the browser, but the problem now is fixed by Chrome.  https://codereview.chromium.org/1267023004

[2015-08-26 18:19] smvarela commented on #16
Hi, with Chrome  46.0.2490.4 dev (64-bit) all icons are correctly rendered.

[2015-08-26 18:19] #16 closed

[2015-08-26 19:53] syjer commented on #16
Thank you for the confirmation :D

[2015-08-31 08:28] #13 closed

[2015-10-09 08:49] selox opened #17 "Installation issues"
I've been trying to install it a few times, never worked with anything java related before:

I'm getting "FAIL - Application at context path /lavagna could not be started"

on

Debian 8 (turnkey linux lxc container running on proxmox)
Openjdk-7-jdk
Openjdk-7-jre
Tomcat8
Tomcat7

..while trying to deploy it using tomcat's web interface
Are there any configuration steps omitted in the help?

The onl

[2015-10-10 21:24] syjer commented on #17
Hi @selox ,

Could you copy/paste the full stacktrace of your logs?

As far as I know, there is nothing missing in the manual.

By the way, have you tried to launch lavagna without tomcat using the executable war (as described in at http://help.lavagna.io/02-install/02-02-configuration.html#self-contained ) ? Maybe it's simpler and you can pinpoint the issue.

[2015-11-17 15:19] arjitc opened #18 "HipChat/Slack integration ?"
Hi,
It'd be pretty nice to have HipChat or Slack integration to push notifications and such to HipChat or Slack

[2015-11-17 15:23] syjer commented on #18
Hi @arjitc , yes this is something planned for the 1.1 release.

[2015-11-17 15:44] arjitc commented on #18
Very cool! For HipChat please do add the ability for notifications to self-hosted HipChat servers as well :)

[2015-12-05 16:57] chKaze opened #19 "ERROR org.springframework.web.context.ContextLoader - Context initialization failed"
[code]

I have installed jre 7 and 8 on centos im not sure what I did wrong

[2015-12-05 17:44] syjer commented on #19
Hi @chKaze , it seems that lavagna was not able to update correctly your database schema (devtracker_db).

What kind of database are you using? MySQL, Postgres or the embedded HSQLDB?

[2015-12-05 20:57] chKaze commented on #19
Mysql fresh install

CREATE DATABASE lavagna CHARACTER SET utf8 COLLATE utf8_bin;

[2015-12-05 21:06] syjer commented on #19
which version of mysql ?

Could you try to recreate the devtracker_db database and rerun lavagna?

Tomorrow I'll have a look on my side if I can reproduce the error.

[2015-12-05 21:11] chKaze commented on #19
´´´
 [main] INFO org.eclipse.jetty.util.log - Logging initialized @445ms
[main] INFO org.simplericity.jettyconsole.DefaultJettyManager - Added web application on path / from war /home/kevin/lavagna-1.0.5.1/lavagna/lavagna-jetty-console.war
[main] INFO org.simplericity.jettyconsole.DefaultJettyManager - Starting web application on port 8080
[main] INFO org.eclipse.jetty.server.Server - jetty-9.2.9.

[2015-12-05 21:19] syjer commented on #19
Thank you for the trace, really a strange error as the mysql driver is embedded and should be visibile.

Tomorrow I'll try to reproduce your error locally and find a solution.

[2015-12-05 21:20] chKaze commented on #19
No worries, ill try with another db ^^

[2015-12-05 21:22] syjer commented on #19
Uh, the jdbc url is incorrect it seems.

You should set `jdbc:mysql://localhost:3306/lavagna` , from the log it's set as  `mysql://localhost:3306/lavagna`. You need to add the missing `jdbc:`.

[2015-12-05 21:25] chKaze commented on #19
/facepalm

I misread the config, Thanks!

[2015-12-05 21:25] #19 closed

[2015-12-05 21:43] syjer commented on #19
np :)

[2016-01-10 11:34] erm3nda opened #21 "Github login bad url"
I've tried to enable Github login using my API key, but oauth url is not okey.
Got 404 from github.

[2016-01-10 13:20] syjer commented on #21
Hi @erm3nda , I'll check on our test instance.

[2016-01-10 13:32] syjer commented on #21
Hi @erm3nda ,it  work correctly on out test instance. You should check that the urls/token/users are correct.

For example in our test instance we have:

**github configuration:**

![github_app_conf](https://cloud.githubusercontent.com/assets/498146/12221705/853237f8-b7a6-11e5-8a66-fd7dc2ae6a6b.png)

**lavagna oauth configuration:**

![oauth_github](https://cloud.githubusercontent.com/assets/49814

[2016-01-10 14:26] erm3nda commented on #21
Ok, was my mistake, did not pay good attention.
Thank you.

[2016-01-10 14:30] syjer commented on #21
you're welcome :).

[2016-01-10 14:30] #21 closed

[2016-05-10 15:31] dotkiddo opened #22 "[Feature Request] Calendar View and simplicity features"
Dear Lavagna Development Team,

I would like to make the following requests/suggestions for future features:

- a "calendar view" for viewing upcoming and missed/met deadlines on tasks/cards.
- a way to add tasks and due dates directly from the board view, rather than having to go into the card detailed view.
- multiple selection of cards for adding labels, due dates and/or tasks (once again, dire

[2016-05-10 16:15] syjer commented on #22
Hi @dotkiddo ,

Thank you for using Lavagna :D.

- For the calendar view, yes, it's something that we will do in a future release (1.2 most likely).
- For the keyboard shortcuts, agree. we will try to integrate them in the 1.1 release (or event 1.0.x).

About the multiple selection of cards and setting the due dates directly from the board: you can already do that :) (it's a little bit hidden - we

[2016-05-10 16:35] dotkiddo commented on #22
Thank you for the incredibly quick response!

I can't wait to see what you guys do :smiley:

[2016-05-10 16:35] #22 closed

[2016-05-21 03:34] velmuruganvelayutham opened #24 "HTTP ERROR 403 while login"
![screenshot from 2016-05-21 04 28 59](https://cloud.githubusercontent.com/assets/3096918/15446130/9f7e7c8e-1f0c-11e6-876b-a2f6755f61dc.png)

I think the login page was served yesterday and today I am trying to login.

The issue resolved after refreshing the login page.

[2016-05-21 12:22] syjer commented on #24
This is caused by the CSRF protection: the token expired (as it's saved inside the session).

A better error page will be done :), as the 403 error is quite confusing (and some kind of polling for keeping the session alive too)

[2016-07-20 11:17] likeitneverwentaway opened #26 "Is MariaDB supported ?"
Hi, I'm using MariaDB and I can't get Lavagna to work. The log is quite huge so I don't expect you to read it but [here it is](https://gist.github.com/likeitneverwentaway/3812155a9339083788d4055ececbad29) :)

This is very new to me, but I see that it's trying to use mysql connector, as MariaDB is a fork is it working ? Do I need to install MDB connector or everything is lost ?

Thank you

[2016-07-20 17:19] syjer commented on #26
Hi @likeitneverwentaway , we didn't tested with mariadb, so it's possible that you could have some issues.

We will add mariadb in the continous integration, thanks for the reminder!

From the log, the error is quite simple:

`
Access denied for user 'user'@'localhost'
`

The db configuration is most likely not correct: you should ensure that username, host, port and password are correct.

[2016-07-20 17:20] syjer opened #27 "add mariadb in the travis CI matrix"
As asked in issue #26 :)

[2016-07-20 17:55] likeitneverwentaway commented on #26
That's awesome to hear thank you ! And you were right I my login informations were incorrect... Although now I still can't get it to work, [new log](https://gist.github.com/likeitneverwentaway/7dbdbd792b1fb89085ba2ea45f475dba). My server runs Nginx, I don't have Apache, could that be a problem?

Thanks again for your answer!

[2016-07-20 18:16] syjer commented on #26
@likeitneverwentaway what you use as a reverse proxy is not a concern for lavagna :).

Now from the log:

` Schema `lavagna` contains a failed migration to version 1 !`

it seems that the database/schema  creation has failed, could you try to drop and recreate the database "lavagna"?

If it does not work, it means that we have some incompatibilities with mariadb :( that I'll try to track down.

Wh

[2016-07-20 20:17] likeitneverwentaway commented on #26
`Server version: 10.0.25-MariaDB-0+deb8u1 (Raspbian)`
 I dropped the database and used the command from the docs to recreate it, still get a 503 service unavailable, log. It seems to be a problem with the database as you said, are `information_schema `and `performance_schema` lavagna's ? Should I drop them too ?

[2016-07-20 22:51] syjer commented on #26
from the log :

`Thread stack overrun:  5920 bytes used of a 131072 byte stack`

it seems that the mariadb is configured for a small device, maybe you can try to increase the thread stack size. In your mariadb configuration file (my.cnf?) you should comment out the line that set the thread stack:

from:
`thread_stack		= 128K`

to
`#thread_stack		= 128K`

If you try to comment it and re-create the

[2016-07-21 03:22] likeitneverwentaway commented on #26
You're awesome!! I'm pretty sure that did, now it redirect me to /setup (which is a 404 because of my nginx mess) but that should do it!

Is there any other way to access the setup ? I have a very strict niginx environment (I'm using Yunohost if you know of it) so the redirection is not working... Anyway I'll figure this out, I think Lavagna is working ok with MariaDB :)

[2016-07-21 08:53] syjer commented on #26
Thank you :)

If you have any questions, feel free to open new issues :)

[2016-07-21 08:53] #26 closed

[2016-07-24 21:19] Fonata commented on #7
I'd love to see two-way sync of GitLab issues and lavagna items

[2016-07-24 22:34] syjer commented on #7
@Fonata yep, sorry for taking so much time, but it's something that we will do :)

[2016-07-25 09:26] syjer commented on #27
done!

[2016-07-25 09:26] #27 closed

[2016-07-26 20:14] SitoCH commented on #11
I'm closing this issue since it appears to be resolved.

[2016-07-26 20:14] #11 closed

[2016-07-26 20:16] SitoCH commented on #15
Since Lavagna 1.0.6.1 you can clone single cards to other boards inside a project.
It isn't what you asked for but maybe it can help you a little...

[2016-07-26 20:18] SitoCH commented on #17
Closing due to inactivity, feel free to reopen it you have new information.

[2016-07-26 20:18] #17 closed

[2016-07-27 19:41] SitoCH commented on #26
As a sidenote I added MariaDB to the CI so we can continue to check the compatibility in the future releases.

[2016-07-30 21:17] SitoCH commented on #14
Added ;)

[2016-07-30 21:17] #14 closed

[2016-09-21 17:11] syjer opened #30 "Refactor login page ui/ux"
Currently the login page is completely "broken" in the master: cleanup to a decent state

[2016-09-21 17:16] syjer opened #31 "Refactor setup app"
Migrate to component style, refactor + cleanup.

[2016-09-29 08:43] #30 closed

[2016-10-02 13:24] syjer commented on #31
done.

[2016-10-02 13:24] #31 closed

[2016-11-05 14:54] fernandodiacenco opened #32 "[Feature Request] - E-mail to Card"
I would love to see something like this on Lavagna:

You create an email and several aliases to this email, for example:

Email: tasks@company
Aliases: sales@company, marketing@company, support@company

And when an email is sent to one alias, Lavagna automatically creates a card in the configured board, for example sending and email to marketing@company creates a card on the "Marketing" board

Tha

[2016-11-05 15:17] syjer commented on #32
Hi @fernandodiacenco , good idea :)

We will try to implement something :)

[2016-11-26 23:43] fernandodiacenco commented on #32
Oh amazing! I'm itching to replace our ticketing system with Lavagna, but the email feature is critical

Is there anywhere I can subscribe my email to receive Lavagna news/updates?

Thanks!

[2016-11-27 14:32] SitoCH commented on #32
At the moment we only use our Twitter account ([@digitalfondue](https://twitter.com/digitalfondue)) to publish updates.

[2016-11-28 20:54] mmghasemi opened #34 "deploy on wildfly 10"
Hi to all
I try to deploy lavagna on wildfly, I am successful...
I added jboss-web.xml to WEB-INF and compile project with this new file,
In my jboss-web.xml file i decler vitual host:

[code]

 but when i deploy it on a wildfly and complete setup process on lavagna, redirect to main domain! instead to main path of project...So i see Not Found page...

[2016-11-28 20:56] mmghasemi commented on #34
In server.log didn't report any error our warning.
What's the problem?

[2016-11-28 22:23] syjer commented on #34
Hi, @mmghasemi , it looks like the configured domain is not correct.

We will try to reproduce the error and check what's wrong.

[2016-11-28 22:41] mmghasemi commented on #34
thanks
But my jboss-web.xml file work fine in other web application.
I couldn't deploy lavagna without jboss-web.xml on wildfly, but when add jboss-web.xml to project, it deploy successfully but as i said in above, i see Not Found page...

[2016-11-28 22:52] syjer commented on #34
@mmghasemi , thanks for the additional information.

As we are not using widlfly it will take some time to understand the issue and, if there is a bug, to fix it.

Maybe, could you provide a step by step guide with some screenshots so we can more easily reproduce your issue?

[2016-11-29 00:35] mmghasemi commented on #34
Thanks for attention.
Step 1:I cloned from lavagna github repositry!
Step 2:I changed some source of lavagna for example i18n files!
Step 3:I added jboss-web.xml to project
Step 4:I define virtual host in standalone.xml file on wildfly
`<host name="lavagna" alias="ketabfish.ir, www.ketabfish.ir" default-web-module="lavagna"/> `
Step 5:I access to http://ketabfish.ir domain to open project but!!!!

[2016-11-29 00:38] mmghasemi commented on #34
I think io.lavagna.web.support.ResourceController  may has some problem with contextpath in domain mode?

[2016-11-29 12:36] budrom opened #35 "Cyrillic text saves incorrectly"
Greetings,
When using cyrillic anywhere in text fields, it is saved as question marks in database. If I select entry from LA_PROJECT table for example - it still has question marks. I can update text with cyrillic using SQL (via terminal with utf8 encoding set) and it shows correctly via SQL and in Lavagna. But after I try to update from Lavagna - it saves incorrectly.

Description there should be

[2016-11-29 18:29] syjer commented on #35
Hi @budrom ,

Thank for the report!

Well, that's embarassing :). We will fix it asap.

[2016-11-29 18:41] syjer commented on #35
Hi @budrom , it seems the issue is caused by an incomplete jdbc connection string (we will fix the documentation).

Could you try to add `?useUnicode=true&characterEncoding=utf-8` to the connection string? (as described in http://stackoverflow.com/a/3275661).

[2016-11-29 18:55] budrom commented on #35
Hi @syjer , it worked! Thanks!

[2016-11-29 19:01] syjer commented on #35
your welcome. Thank you for opening the issue :).

We will fix the doc :)

[2016-11-29 19:01] #35 closed

[2016-11-29 19:02] syjer opened #36 "update documentation/scripts for mysql jdbc connection string"
we need to add `?useUnicode=true&characterEncoding=utf-8` everywhere a mysql jdbc connection string is defined.

As found in issue #35

[2016-11-29 19:14] syjer commented on #34
hi @mmghasemi , thanks for the informations. We have currently 2 issues:

Missing "index page": in web.xml, adding

[code]

Seems to fix it.

And the second one is some kind of error in the javascript concatenated file generation, this one will take some time to fix it

[2016-11-29 19:36] syjer commented on #34
@mmghasemi , we have pushed some fixes, could you try to update your git clone and do a retry ?

Thank you :)

[2016-11-30 03:50] mmghasemi commented on #34
@syjer Thank you,
Its work.
I pull from git and rebuild project and deploy on wildfly again and all things is ok...

[2016-11-30 03:50] #34 closed

[2016-11-30 04:54] mmghasemi opened #37 "i18n for src/main/webapp/app-login/app-login.js"
Hi
Why src/main/webapp/app-login/app-login.js couldn't accept i18n ?
I add some new properties to message_en.properties for this page but when use theme in app-login.js file does not work?
example hosted here: http://ketabfish.ir

[2016-11-30 16:31] syjer commented on #37
Hi @mmghasemi , you are right. It's an oversight on our side. We will fix it.

[2016-11-30 18:01] budrom opened #38 "Connection failure from Chrome"
Hello, it's me again. :)
Got some weird problem. Auto-reload doesn't work for me in Chrome. When I open any page in Lavagna - "Connection failure" message appears and content doesn't refresh. Other browsers - no problem.

Setup (containerized):
* Lavagna 1.0.7.2
* MySQL 5.5
* Nginx 1.9.10 as a reverse proxy with SSL

Tested:
* Chrome 54.0.2840.99 m (64-bit) on Windows 10 - ERROR
* Chromium 52 on L

[2016-11-30 18:44] syjer commented on #38
Hi @budrom ,

Looks like the websocket configuration in nginx is not complete.

It should look something like that:

[code]

[2016-11-30 18:44] syjer commented on #38
(And yes, we really need to document this step too :D )

[2016-12-01 07:27] budrom commented on #38
It seems like I already have these settings...
[code]

[2016-12-01 12:50] mmghasemi commented on #36
Please repair this parameters for database connection urls for this page:
http://help.lavagna.io/02-install/02-02-configuration.html#configuration

[2016-12-01 14:04] mmghasemi opened #39 "Role with access to certain project"
Hi
Can a role access only certain projects?
What class must change to create a new role with this feature?

[2016-12-01 22:08] SitoCH commented on #39
It's a bit counterintuitive but yes, you can limit roles to see only some projects.
The first thing to do is remove the READ permission under "Board Permissions" on the default role (or create a new one without the READ permission) and then assign this application wide role to the selected users.
Now under every project that you wish to assign to those users just create a new role with the READ pe

[2016-12-02 06:14] mmghasemi commented on #39
Thanks SiteCH
it works...
why you said "its a bit counterintuitive"?

[2016-12-02 15:24] syjer commented on #38
I must admit that I'm not sure what could be the exact cause of the problem :(.

From the error reported by chrome, it's clear there is some kind of misconfiguration in the websocket support (maybe you have another proxy somewhere that it's not configured correctly?)

[2016-12-02 15:25] syjer commented on #37
Hi @mmghasemi , I've pushed a first test for supporting i18n in the login page.

[2016-12-02 16:18] mmghasemi commented on #37
Thanks @syjer for fast coding...
I pull and test.

[2016-12-02 16:37] mmghasemi opened #40 "Short name uniquely not work properly"
Hi
I thinks main constraint for checking uniquely  short name at board creating has some error, because it compare with all short name in database not on project's short names.

[2016-12-02 17:46] mmghasemi commented on #37
I thought some utf-8 encoding had some error in app-login.js
ÙØ§Ù Ú©Ø§Ø±Ø¨
http://iproman.ir

[2016-12-02 17:49] ghaseminya opened #41 "Where did save user's password?"
Hi
I searched for attribute password in LA_USER table, but no attribute for this job.
In profile, need change password function!

[2016-12-02 18:17] syjer commented on #37
Hi @mmghasemi , as you may have noticed, the property files in java are not utf-8 by default, you may use an IDE (intellij for example) which convert the characters in the appropriate forms or use the `native2ascii` command (http://docs.oracle.com/javase/7/docs/technotes/tools/windows/native2ascii.html) which is bundled by default with the jdk to convert the file.

[2016-12-02 18:19] syjer commented on #40
Hi @mmghasemi , it's not an error but rather an explicit design choice.

[2016-12-02 18:22] syjer commented on #41
Hi @mmghasemi , well, Lavagna currently does not have a "user+password" support. It delegate the password/account handling to : oauth (google, gitlab, ...) or ldap.

The "demo" user account type is, as it's name imply, a demo feature :).

If you need an internal management of the user with password handling, it's a work in progress.

[2016-12-02 18:25] mmghasemi commented on #37
Hi @syjer
I used native2ascii command for change properties for support UTF-8,
but in all page unicode characters is properly ok but in login page fail
you can login to page to see correct Unicode in dashboard and other pages
http://iproman.ir
username=mnm

[2016-12-02 18:26] syjer commented on #37
thanks for the feedback, I'll have a look.

[2016-12-02 18:28] mmghasemi commented on #37
thanks

[2016-12-02 18:30] mmghasemi commented on #40
:)
yes this is a good choice, can i help you?

[2016-12-02 18:31] mmghasemi commented on #41
oh, yes
thanks for @syjer
I forgot this feature, oauth is very good choice
but i think demo user account type need password field...

[2016-12-02 18:43] syjer commented on #37
Ok, I'm able to reproduce the error, I'll commit a fix as soon as possible

[2016-12-02 18:47] syjer commented on #37
@mmghasemi , I've pushed the fix :). Could you try to check if it work correctly ?

[2016-12-02 18:48] mmghasemi commented on #37
thanks,
Yes...i pull and check it again...

[2016-12-02 19:26] mmghasemi commented on #37
Its OK.

[2016-12-02 19:26] #37 closed

[2016-12-04 18:37] mmghasemi opened #42 "deploy on Apache tomcat"
Hi
I deploy lavagna.war on Apache tomcat 8.5
I set configuration for mysql database,
but i see this error after deploying..

`
04-Dec-2016 13:35:26.033 INFO [localhost-startStop-1] org.apache.catalina.startup.HostConfig.deployWAR Deploying web application archive /opt/apache-tomcat-8.5.8/webapps/lavagna.war
04-Dec-2016 13:35:28.042 INFO [localhost-startStop-1] org.apache.jasper.servlet.TldScanner.

[2016-12-04 18:56] mmghasemi commented on #42
This is my parameters for jvm in [apache tomcat]/conf/context.xml
<Environment name="datasource.dialect" value="MYSQL" type="java.lang.String"/>
<Environment name="datasource.url" value="jdbc:mysql://localhost:3306/lavagna" type="java.lang.String"/>
<Environment name="datasource.username" value="u" type="java.lang.String"/>
<Environment name="datasource.password" value="p" type="java.lang.String"/

[2016-12-04 18:57] mmghasemi commented on #42
<Environment name="datasource.dialect" value="MYSQL" type="java.lang.String"/>
<Environment name="datasource.driver" value="com.mysql.jdbc.Driver" type="java.lang.String"/>

<Environment name="datasource.url" value="jdbc:mysql://localhost:3306/lavagna" type="java.lang.String"/>

<Environment name="datasource.username" value="u" type="java.lang.String"/>
<Environment name="datasource.password" valu

[2016-12-04 22:31] syjer commented on #42
Hi, @mmghasemi , thanks for all the informations, I'll have a look :).

From the error, it seems classloader related: it's not able to find the jdbc driver (which is included in the war).

[2016-12-04 22:33] mmghasemi commented on #42
Hi @syjer
Thanks for attention.

[2016-12-04 23:44] SitoCH commented on #39
Because you have to remove the global "READ" permission on the default Role so it's easy to miss it when searching for a way to handle per project READ access.

[2016-12-04 23:44] #39 closed

[2016-12-04 23:55] SitoCH commented on #38
Are you sure about the initial section?

[code]

I have the same configuration with a NGINX proxy on SSL but I don't have the map $http_x_forwarded_proto $proxy_x_forwarded_proto section.

[2016-12-05 13:31] budrom commented on #38
@syjer There's only one Nginx.
@SitoCH the config was autogenerated, but I tried to comment out section you mentioned along with `proxy_set_header X-Forwarded-Proto $proxy_x_forwarded_proto;` but it did not help.

It's strange for me that only Chrome is affected.

[2016-12-05 14:52] syjer commented on #42
@mmghasemi , it seems a classloader related issue. I think I found a fix, I'll let you know

[2016-12-05 14:55] mmghasemi commented on #42
Thanks,

[2016-12-05 15:23] syjer commented on #42
It seems that the issue is more complex than I thought.

The following steps didn't helped:
 - copied the drivers in $CATALINA_HOME/lib
 - registered the drivers manually...

I'm exploring what could be the exact cause, but it seems tomcat is clearly doing something different than the others application servers.

[2016-12-05 15:40] mmghasemi commented on #42
Thanks @syjer
I tried this steps(copy driver to lib and register manually driver in tomcat context) yesterday, but I failed.
I think, we must define new jdbc resource in tomcat before deploy lavagna on it, and  loader.java must change to load defined jdbc resource from tomcat context.

[2016-12-05 15:45] syjer commented on #42
Registering the drivers manually like:

[code]

in DataSourceConfig.getDataSource seems to work, but now the javascript/css return a 404 error...

[2016-12-05 16:14] mmghasemi commented on #42
where did you use DataSourceConfig.getDataSource?

[2016-12-05 18:03] mmghasemi commented on #42
Another solution is use Resources..
I use this link:
http://stackoverflow.com/questions/37968073/hikaridatasource-namingexception-cannot-create-resource-instance
add:
`
InitialContext ctxy = new InitialContext();
        Context envContext = (Context) ctxy.lookup("java:comp/env");
        HikariDataSource ds = (HikariDataSource) envContext.lookup("jdbc/channelDB");
`
to getDataSource method and re

[2016-12-06 23:32] SitoCH commented on #38
I checked twice my configuration, a jwilder/nginx-proxy Docker container, and I have also these settings:

[code]

[2016-12-06 23:35] SitoCH commented on #40
I'm closing the issue because this is a "by design" behaviour.
Feel free to reopen it if you need to add something else.

[2016-12-06 23:35] #40 closed

[2016-12-07 08:56] budrom commented on #38
@SitoCH Yep, that was it. Somehow my version of jwilder/nginx-proxy container was missing these lines. Thanks for your help!

[2016-12-07 08:56] #38 closed

[2016-12-08 00:29] SitoCH commented on #38
Great, it took me some time to find the right configuration so it's good to share it with someone else who has the same issue.

[2016-12-08 16:18] mmghasemi commented on #42
Hi @syjer
Didn't find any solution? Can i help you?

[2016-12-09 01:17] syjer commented on #42
hi @mmghasemi , currently I was not able to find a solution :(.

If you find a solution, we will gladly accept a pull request :)

[2016-12-09 01:36] mmghasemi commented on #42
Hi @syjer
:(
Ok, i will find a solution and pull it

[2016-12-14 12:56] ejouvin commented on #42
I am facing the same issue infortunetly.
May be, it is necessary to change to way to access database ?

By the way, would it be possible to have database configuration loaded from a property file and not from the env variable ? Actually, we have to put information in command line, and anyone accessing the server can see information in process

[2016-12-15 12:41] syjer commented on #42
@ejouvin , good input about the property file for configuring the application, I'll create a new issue to track the progress on this side.

I'll continue to check what is happening with tomcat too.

[2016-12-15 12:41] syjer opened #43 "add option to configure the application parameters in a property file"

[2016-12-15 18:38] mmghasemi commented on #43
Hi @syjer
This is better way for connection to db in Tomcat...

[2016-12-16 16:05] syjer commented on #43
implemented :)

[2016-12-16 16:05] #43 closed

[2016-12-16 20:28] syjer commented on #42
should be fixed :)

@mmghasemi , could you check please?

@ejouvin I've committed the support for a configuration file in the task: #43

[2016-12-16 20:38] khazeshgar commented on #42
Thanks for @syjer
I pull it and check it now...

[2016-12-16 20:39] mmghasemi commented on #42
Thanks for @syjer
I pull it and check it now...

[2016-12-16 21:22] mmghasemi commented on #42
Is this new version need some other setting? I compile and deploy it on Apache Tomcat 8.0.0 buy this is error in catalina.out :(my db env setting is in centext.xml as i said in above post...)
`INFO: Deploying web application archive /disk/server/Tomcat/apache-tomcat-8.0.0-RC1/webapps/lavagna.war
00:47:02.590 [localhost-startStop-1] INFO  io.lavagna.common.LavagnaEnvironment - For property datasour

[2016-12-16 22:35] ejouvin commented on #43
Just got the last code version and compile it.
OK it seems to work to get the external property file, thanks.

(I have difficulties to initialise the database, but I will post on the previous thread, for the Tomcat install because someone else had difficulties)

[2016-12-16 22:37] syjer commented on #42
hi @mmghasemi ,

it seems your database contain a failed migration (` Schemalavagnacontains a failed migration to version 19 !`).

Could you try with a new empty database please?

[2016-12-16 22:39] ejouvin commented on #42
Hi.

Got the last version.
First of all, writting in the logger the db account password may not be a good idea ;)
Secondly, on a fresh install, it makes MySql stop on my computer. Then I have some problem to start it. Try to investigate.

[2016-12-16 22:49] mmghasemi commented on #42
@syjer but my database schema is empty and i create it newly, i test another time with new database schema but same error occurred.

[2016-12-16 22:58] syjer commented on #42
@ejouvin removed the log :). Thanks.

[2016-12-16 22:59] syjer commented on #42
@mmghasemi do you have another exception before this one?

Which version of mysql are you using?

[2016-12-16 23:00] ejouvin commented on #42
Yes it is a solution ;)

Le 16 déc. 2016 23:58, "Sylvain Jermini" <notifications@github.com> a
écrit :

@ejouvin <https://github.com/ejouvin> removed the log :). Thanks.

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub
<https://github.com/digitalfondue/lavagna/issues/42#issuecomment-267716431>,
or mute the thread
<https://github.com/notification

[2016-12-16 23:18] mmghasemi commented on #42
@syjer

No. all of catalina.out attached.

- 5.6.34 - MySQL Community Server
- 5.41-MariaDB - MariaDB Server

[2016-12-16 23:19] mmghasemi commented on #42
[code]

[2016-12-16 23:25] mmghasemi commented on #42
If mysql is tested by you and its Ok for you, may be i must try to another version of it.Which version you tested with it?
I check with  HSQLDB on Tomcat and will say result to you...
Thanks...
My lavagna Persian version!
http://iproman.ir
userpass=mnm

[2016-12-16 23:26] mmghasemi commented on #42
iproman=**I**ssue/**Pro**gram **Man**agement

[2016-12-16 23:41] mmghasemi commented on #42
with  hsqldb every things is ok...

[2016-12-16 23:50] syjer commented on #42
@mmghasemi ,

ok there is an error and/or compatibility issue with the latest sql script, as you see the error is:

`
Message    : Invalid default value for 'MAIL_CONFIG_LAST_CHECKED'
`

I'll check if I can fix it

[2016-12-16 23:58] syjer commented on #42
@mmghasemi I've pushed a possible fix

[2016-12-17 00:11] mmghasemi commented on #42
Ok, thanks its work...

[2016-12-17 00:11] #42 closed

[2016-12-19 23:06] ejouvin opened #44 "Tomcat issue on shutdown"
Since the last fix for the Driver registration in Tomcat
when I try to shutdown Tomcat, an error is thrown and display in Tomcat log.

20-Dec-2016 00:00:30.436 AVERTISSEMENT [localhost-startStop-2] org.apache.catalina.loader.WebappClassLoaderBase.clearReferencesJdbc The web application [lavagna] registered the JDBC driver [com.mysql.jdbc.Driver] but failed to unregister it when the web application

[2016-12-20 12:10] syjer commented on #44
Hi @ejouvin , yes, this log is expected. The cleanest way to avoid this issue would be to use a datasource managed directly by tomcat, but I don't think it's worth the effort.

[2016-12-20 12:16] syjer commented on #44
If you are interested in providing a pull request, the solution would be to support a JNDI datasource.

The code to change would be inside the class io.lavagna.config.DataSourceConfig

[2016-12-20 22:06] ejouvin commented on #44
Hye.

Yes for sure If I have time I will try.
I first started to try to setup my environment, but unfortunatly I did not have more time.

I log this just for reminder and if I have an idea I will try to push. But I think datasource is not a good idea, too complex for installation. Many other applications just need to deploy the webapp. Need to find how they do (DAO abstraction, but is it possible

[2017-01-03 10:28] syjer commented on #36
I've finally updated the website.

[2017-01-03 10:28] #36 closed

[2017-01-03 15:53] ghaseminya commented on #36
Thanks @syjer

[2017-01-12 00:32] ejouvin opened #45 "Mysql database creation not completed on fresh install"
Hello.

Just pickup the last commited files and do a fresh install.
After configuration, I can conect on the application.
But I have an error message displayed : "Connection failure. Please reload the page."
This message is displayed on Chrome but not IE 11

But in fact, the trace show the following error :
org.springframework.jdbc.BadSqlGrammarException: PreparedStatementCallback; bad SQL grammar

[2017-01-12 00:52] ejouvin commented on #45
I just run all missing script.

It remove error message in logs, so fine.

But the message is still displayed on the page, and only on Chrome

[2017-01-12 09:12] ejouvin opened #46 "Logout disabled on chrome"
Installed from the last commit, when I access to the application with Chrome, the logout button does nothing.

[2017-01-12 09:14] ejouvin opened #47 "Export from administration disabled"
Installed from the last commit, when I access the export and Import tool from the administration, the download export does nothing.

[2017-01-12 12:16] syjer commented on #47
Hi @ejouvin , thanks for the bug report, I'll have a look

[2017-01-12 12:18] syjer commented on #45
@ejouvin , about the "Connection failure. Please reload the page."  error, are you using a reverse proxy (ngnix?)

[2017-01-12 12:18] syjer commented on #46
I'll have a look, thanks for the report

[2017-01-12 13:22] syjer commented on #47
should be fixed now :)

[2017-01-12 13:22] #47 closed

[2017-01-12 13:28] syjer commented on #46
@ejouvin , I'm not able to reproduce the issue.

Could you provide some kind of log of the http traffic of the logout sequence? Do you notice some kind of HTTP errors?

As an example, this is what happen on my side:

![logout_sequence](https://cloud.githubusercontent.com/assets/498146/21891466/275fc952-d8d3-11e6-92b8-98a12e44c36c.png)

[2017-01-12 15:36] ejouvin commented on #45
I think I should have create another issue for the error message after connection in fact.

I did test behind an Apache server. I will test with a direct connection on Tomcat.
But I fact, the connection is OK, and I just have a message in the bottom left corner and only on Chrome

[2017-01-12 15:37] ejouvin commented on #46
There is no traffic.
Clicking on the link does not do anything and only under Chrome.

[2017-01-12 20:29] syjer commented on #46
which version of chrome/operating system are you using?

[2017-01-12 20:31] syjer commented on #45
if it's behind a proxy, it's possible that you need to add additional configurations, as lavagna use websockets.

[2017-01-12 21:50] ejouvin commented on #45
It seems to be that.
I've just test to connect directly on tomcat and it works.

I remember to have seems an exampe of configuration in your doc (but I may be wrong...) but do not find it anymore.

[2017-01-12 22:45] ejouvin commented on #46
Windows & Chrome version 55.0.2883.87 (Build officiel)

In fact, when access to the Tomcat directly, this is OK.
When accessing behin a proxy, it failed.

And finally, this is linked to #45

![traffic error](https://cloud.githubusercontent.com/assets/8817923/21911444/172abd78-d921-11e6-990d-5fc48c607916.png)

But Under Firefox and IE, no problem.
Try to find why I am having a 403 error

[2017-01-12 22:50] SitoCH commented on #46
I think that you have the same issue as #38, some headers are incorrectly handled by Chrome with your current configuration.

[2017-01-12 23:39] ejouvin commented on #46
Hum, seems to be an SSL related issue.
Ok, my SSL configuration is not the best one, because I always have a security alert when accessing the instance.

But when I put the configuration under a not SSL site, it is OK.

[2017-01-13 08:13] ejouvin commented on #45
I think we can close this issue.

The main topic, about the database creation, is solved.
The other one is linked to the case #46 , when deployed behind an Apache server + SSL + for sure a problem of websocket configuration in Apache

[2017-01-13 08:13] #45 closed

[2017-01-13 23:45] SitoCH commented on #46
Did you check the issue #38? It's based on NGINX but I think the problem is the same, make sure you send the right headers through the proxy.

[2017-01-17 09:11] ejouvin commented on #46
I am still stuck.
But I think we can close this case because all is a matter of Apache configuration.

Will try again, hope someone will find the solution ;)

[2017-01-17 09:15] ejouvin opened #48 "Invalid URL access with IE"
Try to never use IE, but just one time I did a try.

And I was surprise to see the following Network activity :

![network](https://cloud.githubusercontent.com/assets/8817923/22014390/b9cc97ac-dc9d-11e6-82fe-e307c8859bcc.png)

It seems that IE does not like the commented line in file webapp\js\angular-material.min.js
//# sourceMappingURL=/home/sylvain/Downloads/tmp/output/angular-material.min.js

[2017-01-17 10:35] syjer commented on #48
Hi @ejouvin , thanks for opening the issue, it's an oversight :). I'll push a fix as soon as possible.

[2017-01-17 10:38] syjer commented on #48
done :)

[2017-01-17 10:38] #48 closed

[2017-01-17 22:23] ejouvin commented on #46
"Finally" I got it work, not fully as I expected, but for a first step...

So for those who will have difficulties, here is what I put in my Apache configuration.

[code]

**But**, this will only work when Lavagna on Tomcat and enabled behind an Apache in http, not in https.

I will have to study in order to deploy it under SSL, may be need to activate the SSL ono tomcat also.

I close the issue.

[2017-01-17 22:23] #46 closed

[2017-01-17 22:55] syjer commented on #46
@ejouvin thanks for the comment, we will add your configuration in the documentation :)

[2017-01-17 23:00] SitoCH commented on #46
Did you try `wss://localhost:8080/$1` instead of `ws://localhost:8080/$1`?
When using SSL you have to make sure that you are using it on HTTPS but also on WSS.

[2017-01-17 23:05] ejouvin commented on #46
@SitoCH Yes I did try, but no chance.
**But** I does not mean it does not work :laughing: because I did may tries and sometimes I missed some details.

I will give it a try later

[2017-01-17 23:08] ejouvin commented on #46
@syjer Thanks.
But it was done "quickly" and I did not try to optimize the configuration.
Three days to get it works (I understand nothing on Apache, this is out of my scope) and when it finally works, I stop.

[2017-01-18 10:38] ejouvin opened #49 "Heavy traffic in case of error ?"
Has I was testing the application, I notice heavy traffic.

Some background on my install.
Lavagna deployed under Tomcat
Add an Apache proxy

Application can be accessed with an url like http://server/lavagna
**Important to note** the application is not at root level.

I got one error, this url was reached :
http://server/mwg-internal/internal/progress?id=lM00ySujC71TPgjYHv2nAhH90WpT-G8Vb84GE8RocP

[2017-01-18 10:43] syjer commented on #49
the mwg-internal/internal/ url seems related to McAfee ? Looks like it block the websocket and then lavagna fall back to xhr_streaming, which, as you noticed,  is not optimal :)

[2017-01-18 10:54] ejouvin commented on #49
Yes it may be McAfee you are right.

But then request on xhr_streaming have an 200 but the message is :
c[2010,"Another connection still open"]

It makes me reminder that I saw that also when I restart Apache Server. Connected user (in fact me) have this heavy traffic.

Not really blocking for me, just to mention it.

[2017-01-19 01:02] ejouvin opened #50 "Wrong URL to access the help"
Hello.

In case the application is accessible behind Apache, and with an url like http://server/lavagna (not at root)
the help from the left panel will redirect to URL http://server/help

All other actions from the panel are correct, with something like http://server/lavagna/XXX

[2017-01-19 16:31] syjer commented on #50
Thanks for the bug report :), I've pushed a fix.

[2017-01-19 22:51] ejouvin commented on #50
👍

Yes It works now.
But it could be nice if the Help is opened in a new window.

[2017-01-19 23:01] ejouvin opened #51 "Missing label message whild verify LDAP in administration"
I did some tests and found that there is some missing labels when I wanted to verify LDAP setting from the administration panel.

On the popup windows where we type login & password.
![verify ldap](https://cloud.githubusercontent.com/assets/8817923/22128920/67fa8922-dea3-11e6-92d1-5b2a58582bed.png)

An after verification, there si still some missing labels.
![verified ldap](https://cloud.githubuse

[2017-01-19 23:56] ejouvin opened #52 "Unable to authenticate on LDAP without user previously created"
On my instance, I configured the LDAP.

My first account can acces the application, everything working fine.

But another user can not authenticate until its account was created from the administration panel.

It would be nice if the user could be automatically created, if it meet the LDAP configuration (and may be all other Oauth providers)

[2017-01-19 23:58] ejouvin opened #53 "Nice to have, edit users from administration"
In the administration, we can create user.

But I did not find the way to edit the user after. Once created, only the user can change fields.
It would be nice if administrator can have the possibility to update the user configuration name / login / email like he can create it.

[2017-01-20 00:02] ejouvin opened #54 "Backlog count in project summary on dashboard"
I created some cards and move them into the backlog for my project.
![project backlog](https://cloud.githubusercontent.com/assets/8817923/22130391/fd34b104-deab-11e6-87fe-e89fe04cfeef.png)

But on the dashboard, I can not see a correct count for the backlog.
![sum project](https://cloud.githubusercontent.com/assets/8817923/22130420/223f5526-deac-11e6-94d1-e14b0e7b4307.png)

[2017-01-20 01:25] ejouvin opened #55 "Incorrect tooltip in titlebar"
In the titlebar, there is some buttons.
A custom tooltip is displayed when the mouse is over.

But there is also a standard tooltip display, with a sort of key.
Moreover, the message is always the same : title.calendar

![tooltip error](https://cloud.githubusercontent.com/assets/8817923/22132027/b93ad65c-deb7-11e6-8a01-582592f8b947.png)

And just after the issue creation, I am not able to reproduc

[2017-01-20 15:10] syjer commented on #50
@ejouvin yes, you are right :), I've pushed the change.

[2017-01-20 15:10] #50 closed

[2017-01-20 15:11] syjer commented on #52
@ejouvin agree, it's something that will be done (available as an option, I don't think it should be enabled by default for Oauth providers)

[2017-01-20 15:12] syjer commented on #51
Thanks for the issue :), we had some refactoring so some key went missing, will fix it.

[2017-01-20 15:15] syjer commented on #51
should be fixed :)

[2017-01-20 15:15] #51 closed

[2017-01-20 15:22] syjer commented on #54
Hi @ejouvin , yes, this effectively not intuitive: the count is only for the active columns in the board with the backlog  status and not for the cards in the "Backlog sidebar"

But I think you are right, for the Backlog, we should do the sum. Thanks for the report, we will fix it :)

[2017-01-20 15:31] syjer commented on #53
Agree, could be a nice improvement

[2017-01-20 16:41] syjer commented on #54
should be fixed now :)

[2017-01-20 17:30] syjer commented on #55
@ejouvin thanks, I think that I've found the culprit, I'll do a fix

[2017-01-20 17:37] syjer commented on #55
Should be fixed, thanks for opening this issue :)

[2017-01-20 17:37] #55 closed

[2017-01-20 22:05] ejouvin commented on #54
Hum, really fixed ?
Just installed the current master branch, but still the same on the dashboard.

The dashboard :
![dashboard](https://cloud.githubusercontent.com/assets/8817923/22167099/9765e0b4-df64-11e6-8a23-7126d51d3ca9.png)

One project content :
![project backlog](https://cloud.githubusercontent.com/assets/8817923/22167119/b09d144e-df64-11e6-8295-a5cb506903dd.png)

The backlog count is sti

[2017-01-20 22:06] syjer commented on #54
Uh, I'll do a recheck

[2017-01-20 22:10] ejouvin commented on #54
The value is correct in the Milestones section.

[2017-01-20 22:15] syjer commented on #54
I've re-tested and it seems to work correctly with the dev environment (+hsqldb).

Maybe it's some kind of caching ?

if you go to :

http://<your lavagna installation>/api/project/SERVEU/task-statistics what you see?

[2017-01-20 22:42] syjer commented on #54
Ok, maybe I see, there is an inconsistency on our side. I'll do a new fix :D. Thanks for checking

[2017-01-20 22:51] syjer commented on #54
If it's not a caching issue: what database are you using?

[2017-01-22 22:24] ejouvin commented on #54
Huum...

I am using MySQL, and just upgrade from the master branch tonight.
And I think, I made a mistake when "reopening" the case.... I think I did not really update my instance.

Anyway, it is working as expected now.

[2017-01-22 22:24] #54 closed

[2017-01-22 22:28] syjer commented on #54
thank you for the confirmation :)

[2017-01-24 22:29] ejouvin commented on #51
👍
Yes it is fixed.

[2017-01-25 00:43] ejouvin opened #56 "Nice to have, filter during label selection"
As I just played with labels and milestone, I saw that we can filter displayed milestones during selection.

It would be nice to have the same during label selection.

[2017-01-25 14:19] ejouvin opened #57 "Milestone, due_date display"
When setting a due date on a milestone.
On the milestone, the date is displayed like Jan 31, 2017

But in milestones section, under Project board, the due date is displayed with hour information,  like
2017-01-31T23:00:00:00Z

May be nice to have the same formatting as the one on the milestone instance ?

[2017-01-25 22:26] ejouvin opened #58 "Invalid calendar URL display in the profile"
When Lavagna is accessible throw an URL like : http://SERVER/lavagna

When I access my profile, the calendar feed URL is something like : http://SERVER/api/calendar/XXXXXXXXXXXXXXXXXXXXX/calendar.ics

But it should be :
http://SERVER/lavagna/api/calendar/XXXXXXXXXXXXXXXXXXXXX/calendar.ics

[2017-01-26 00:02] ejouvin opened #59 "Profile notification parameters does not saved"
On my instance, in the "My Profile" page, both notification parameters are not correctly saved. Even if checkbox are selected, options are not enabled.

The saving request payload is something like :{"email":"MY EMAIL","displayName":"MY NAME","emailNotification":true,"skipOwnNotifications":true}

And then the GET request on /api/self contains the following:
"userMetadata":{"showArchivedProjects":f

[2017-01-26 13:37] syjer commented on #59
Hi @ejouvin , you are right, we will fix it asap!

[2017-01-26 13:43] syjer commented on #59
pushed the fix, thank you!

[2017-01-26 13:43] #59 closed

[2017-01-26 13:46] syjer commented on #58
good finding, I'll fix it :)

[2017-01-26 13:53] syjer commented on #58
should be fixed now, thanks :) (and the url change when you reset the token)

[2017-01-26 13:53] #58 closed

[2017-01-26 13:55] syjer commented on #56
good idea :+1:

[2017-01-26 13:56] syjer commented on #57
you are right, will fix it :+1:

[2017-01-26 14:02] syjer commented on #57
Should be fixed, thanks :)

[2017-01-26 14:02] #57 closed

[2017-01-26 21:55] ejouvin commented on #58
👍

[2017-01-26 21:55] ejouvin commented on #59
👍

[2017-01-26 21:56] ejouvin commented on #57
👍

[2017-01-28 21:15] vClouds opened #60 "[Feature Request] - Web based configurations wizard"
It is really difficult for non-java knowledge people like me trying to get around installation with production using mysql.

I kept moving between JDK 8 and 7, tomcat, wildfly and jetty experiencing all kinds of errors ending with "command not found" outputs while trying just to pass the environment properties.

I hope, configuration wizard to be introduced so that profile properties can be passed

[2017-01-29 10:25] SitoCH commented on #60
Hi,
I assume that you are trying to run Lavagna from a cloned repository and in order to use it with MySQL you don't have to change anything, just run the following commands and you should be up and running:

[code]

[2017-01-30 15:26] syjer commented on #52
should be implemented :)

[2017-01-30 15:26] #52 closed

[2017-01-30 20:15] ejouvin opened #61 "Missing day in Calendar"
As I was watching my Calendar on January 2017, I noticed there is some missing days.

![image](https://cloud.githubusercontent.com/assets/8817923/22439724/156f818a-e731-11e6-89cd-3d07a7fd48d5.png)

But 30st and 31st are displayed as expected on February
![image](https://cloud.githubusercontent.com/assets/8817923/22439752/2a07fb4a-e731-11e6-89bb-ca9a63a26d33.png)

But may be, this is "expected" in

[2017-01-30 23:27] syjer commented on #61
oh, good find, we will fix it, as it's kinda strange :D

[2017-01-30 23:29] SitoCH commented on #61
Hi,
unexpectedly the number of days in a month was capped at 30. It's funny because also the demo of the original component has the same bug...
Fixed and thank you for reporting this issue.

[2017-01-30 23:29] #61 closed

[2017-01-31 22:17] ejouvin commented on #61
👍
It works for me.

[2017-01-31 22:23] ejouvin opened #62 "Nice to have, move cards from columns"
Not sure this is planned or a good ideas, but just to have your point of view.
On a board, if I have colums, and multiples cards, what about having the move to <COLUMN>, for all available columns, option like the move to backlog / trahs / archive.

It could be interesting, in my point of view, in case the dashboard having some columns like :
* TODO
* In Progress
* To Test
* Tested
* Delivered

En

[2017-01-31 22:33] ejouvin opened #63 "Nice to have, create cards in backlog"
I may missed something, but in order to create cards, it have to be done from a column.

I did not see the option to create the card directly in Backlog. If I want to plan some "releases", I have to create all my cards in a "dummy" column, and then move all them.

So what about having the create card action enable for backlog ?

[2017-01-31 22:39] ejouvin opened #64 "Missing lables in Roles configurations form"
While editing a role, some labels are missing

![image](https://cloud.githubusercontent.com/assets/8817923/22487649/7c18d37c-e80e-11e6-8f06-22c756441e5a.png)

Regards

Etienne

[2017-02-05 08:31] vClouds opened #65 "Tomcat Deployment Guide"
Kindly assist with relevant concerns for production deployment of lavagna using tomcat server.

[2017-02-06 14:37] syjer commented on #64
should be fixed now :+1:

[2017-02-06 14:37] #64 closed

[2017-02-06 20:23] santiagoworkana opened #66 "Stories Estimation"
Add the ability to add story points to the issue cards.
This will allow to perform burndown/burnup charts which is a must in any agile tool.

[2017-02-06 20:25] santiagoworkana opened #67 "Time Tracking"
Add the ability for the users to track time on the issues.
This timesheets will add the ability to check real costs and in the future add the calculation for earn value, actual cost, etc.
Also if the timesheet is identified to know which ones are for fix (rejected pull request for example) we can know the cost of the quality.

[2017-02-06 21:43] ejouvin commented on #64
👍
Well done

[2017-02-06 23:32] ejouvin opened #68 "Project creation permit"
Hello.

I try to setup some security on my instance by playins with general roles, and roles on project.

But I did not see how to setup a role which can create new project without having the global administration permit.

May be I will be nice to have this kind of security, like the read only access, but with creation.

Regards

Etienne

[2017-02-07 13:51] syjer commented on #68
Effectively we could add a new role. Good point

[2017-02-07 14:06] ejouvin commented on #68
:+1:
I like having good point :sunglasses:
But it is not necessary to take into account all my request :smirk:

You owned your product and plan modifications as you want.

One day (may be) I will setup a dev env and try to implement things.

[2017-02-07 14:08] syjer commented on #68
Thank you :D.

We really value your feedback, as developing the application we sometimes don't see what could be missing.

So please, keep submitting new issues :+1:

[2017-02-07 20:53] syjer commented on #66
Currently you can create a label with a "number" value.

What is missing is generating some kind of charts from this values :)

[2017-02-07 20:53] syjer commented on #67
Yes, the time tracking is something that we will likely add

[2017-02-07 20:54] syjer commented on #62
Yep, nice feedback. Will be added :)

[2017-02-07 20:57] syjer commented on #63
you are right, it's missing :). Should be easy to implement (and we have enough space in the UI)

[2017-02-09 00:41] ejouvin opened #69 "Nice to have ? Can update role name"
I did not see an option to update a role (application or projet) name.

Not so important, but may be interesting to be able to modify it.
May be like how it is done to update a card label ?

Etienne

[2017-02-09 00:50] ejouvin opened #70 "Timestamp issue, at least in comments"
On my current install.

Server is on Paris time.
Computer is on Paris time.

But when I added a comment, the displayed time is not correct.
![image](https://cloud.githubusercontent.com/assets/8817923/22764222/901cefe6-ee69-11e6-9785-c65b6577466f.png)

The date stored in the database is the one from my local computer, so in Paris Time.
But when displayed, there is +1 hour, as if the stored time is

[2017-02-09 15:50] syjer commented on #70
I'm able to reproduce the issue, will fix it :)

[2017-02-09 16:01] syjer commented on #70
should be fixed :)

[2017-02-09 16:01] #70 closed

[2017-02-09 16:03] syjer commented on #69
could be useful. But only for custom roles, as there are some names that are hardcoded :)

[2017-02-09 16:12] ejouvin commented on #69
Yes you are right.

I wad thinking about rôles I created, ans forgot thé default ones.

Le 9 févr. 2017 17:04, "Sylvain Jermini" <notifications@github.com> a
écrit :

[2017-02-09 23:40] ejouvin commented on #70
And it is fixed 👍

[2017-03-07 08:13] erost opened #71 "[Feature Request] internal authentication provider"
Add self hosted provider with basic functionalities:

- username/password login
- password change
- password reset by administrator only

This will solve #41

[2017-03-07 08:37] quirinfischer opened #72 "User / Project Management / Deleting Users and Projects"
Hello Lavagna Team,
I have a few suggestions for additional features:

- extra role for managing everything in Lavagna (**super admin**)
It would make administration much easier if one super admin could change user names, passwords, email addresses. Right now only the user itself can change these tokens.

- **deleting user** or moving them to an inactive panel
When starting Lavagna I was creating

[2017-03-07 08:48] erost commented on #72
Hi @quirinfischer ,

thanks for your feedback!

We plan to add a new internal provider (link: #71), so the users that have access to the admin panel will be able to reset the password for those users (in case of external auth provider, that's not possible as Lavagna doesn't directly manage those users, just allow them to login). We will discuss about allowing admins to change display name/email ad

[2017-03-07 09:55] quirinfischer commented on #72
Hi @erost ,
thanks for your fast response.
I am excited for the new features.

[2017-03-08 21:32] syjer commented on #71
TBD:

 - [ ] update setup app
 - [ ] handle import/export

[2017-03-09 23:37] #71 closed

[2017-03-09 23:37] #72 closed

[2017-03-09 23:38] erost commented on #41
fixed as part of #73

[2017-03-09 23:38] #41 closed

[2017-03-09 23:38] erost commented on #72
this has been addressed in #73

[2017-03-09 23:39] erost commented on #53
this has been address in #73

[2017-03-09 23:39] #53 closed

[2017-03-28 21:57] ejouvin opened #74 "Link in card description to open in new window"
When adding an URL in the card description, we can click on it.

It may be nice to have the link opened in a new window, and not in the current one.

Regards

Etienne

[2017-03-29 13:48] syjer commented on #74
@ejouvin I've pushed the fix :). Thank you for reminding us, it was something that we wanted to do :+1:

[2017-03-29 13:48] #74 closed

[2017-04-02 09:02] sebastianopilla opened #75 ""Send test E-Mail" does nothing"
Lavagna 1.1M3 on PostgreSQL.

In the Admin Panel, when configuring the SMTP server for the email notifications, there's a "Send test E-Mail" button which brings up a dialog box: I can enter an email address and click "Send test E-Mail", however no email is sent.

Lavagna does not attempt to connect to the configured SMTP server, and by looking at the HTTP traffic in the browser's console there's n

[2017-04-02 11:46] syjer commented on #75
Hi @sebastianopilla , thank you for opening this issue, I think we have fixed it in the eslint branch. When we will merge it in the master, we will do a M4 release :)

[2017-04-03 20:04] erost commented on #32
This will be included in Pre-Release 1.1-M4. Documentation has been added in the internal Help, section 3.12

[2017-04-03 20:04] #32 closed

[2017-04-03 21:01] syjer commented on #75
should be fixed in the now released M4.

[2017-04-03 21:01] #75 closed

[2017-04-27 23:07] ejouvin opened #78 "Backlog reorder card"
Hello.

On a project dashboard, could it be possible to manage the card order, like we can do in a column ?

The first card is the last one added in the backlog, but we can not reorder the list.

![image](https://cloud.githubusercontent.com/assets/8817923/25507912/132e152c-2baf-11e7-813c-ea67de4fa9b1.png)

[2017-04-27 23:10] ejouvin opened #79 "Advanced card creation"
Hello.

When I want to add a new card, I only see a simple form.
![image](https://cloud.githubusercontent.com/assets/8817923/25507950/48e04fc8-2baf-11e7-8cae-afa7e19a0e88.png)

But it could be interesting to have the advanced card form, like when we modify it.
Because for now, I must create the card, then open it. For one card, it is fine, but if I want to create 10 or more, it is time consuming

[2017-05-01 20:11] syjer commented on #78
Hi, @ejouvin , you are right that it's a limitation.

Currently it's due to how it's implemented on the server side. (As a backlog is really a board, what you are seeing is a search result).

I'll think a possible implementation, but it will not be easy :D

[2017-05-01 20:12] syjer commented on #79
Hi @ejouvin ,

Yep, thanks for the idea, it's something that will be implemented in a future release.

[2017-05-12 20:41] pinecreativelabs opened #80 "Dropbox or Google Drive Integration"
I think it would be cool to have a way for either Dropbox or Google Drive (or both) integrated in some way. This would create a way for users to share files.

For each task, a user could attach Dropbox files, or Google Drive files.

Thoughts?

[2017-05-14 14:21] syjer commented on #80
Hi @pinecreativelabs , could you elaborate the use case? (What are the user actions, what would be the expected result)

Currently I'm not able to understand what would be benefit, thank you :)

[2017-07-03 20:22] erost commented on #79
@ejouvin this has been released with 1.1-M6 if you want to test it out.

[2017-07-04 22:09] ejouvin commented on #79
Just installed the new version.

I like the fact that things are kept, like labels.

It seems OK for me.

Thanks.

[2017-07-06 23:45] #79 closed

[2017-08-02 19:43] fernandodiacenco opened #83 "Issues with the mail ticket feature"
Hi,

First of all, thanks for this feature!

So, I tried it on m4, m5 and now i'm on 1.1-M6, here is what happens:

I configure everything, the email account can send and receive email, I configure an alias, everything seems ok

Lets say I have the account called tasks@company, I send and email to the "test@company" alias, that is configured to create a card in the "Test" board, the email is recei

[2017-08-02 19:50] syjer commented on #83
Hi @fernandodiacenco ,

thank you for the feedback. Yes, adding a way to understand what is going on is clearly a must.

For debugging your problem:

 - are you using the imap(s) or pop3(s) protocol?
 - is there anything suspicious in the log? Exceptions?
 - are there any others clients that are reading the email? Lavagna is using the status read/unread to process the emails

[2017-08-02 21:24] syjer opened #84 "admin ui: add possibility to change log level dynamically"

[2017-08-03 12:17] fernandodiacenco commented on #83
Hi, thanks for answering

I'm using Lavagna self contained with the prod variable for testing, the email protocol is POPS

I tried reinstalling everything, same thing happens: the webmail reports the email as read but there is no card, no other clients are reading this email box

I've attached the console text, I hope this helps because I didn't find any other logs yet.

[lavagna_console.txt](http

[2017-08-03 12:23] syjer commented on #83
hi @fernandodiacenco , thank you for the log :).

The log  contain the error:

[code]

The code that fail is:

[code]

looks like that the message.getReceivedDate() is returning a null value.

It seems we have a case which we don't handle correctly, we will do a fix.

[2017-08-03 12:30] syjer commented on #83
as described in https://stackoverflow.com/a/6163299 , looks like pop3 does not provide the receivedDate. @fernandodiacenco , as a first workaround, could you try, if possible, to use imap?

[2017-08-03 12:53] syjer commented on #83
@fernandodiacenco , I've uploaded a snapshot so you can try the fix that I've committed.

You can download it at https://oss.sonatype.org/content/repositories/snapshots/io/lavagna/lavagna/1.1-M7-SNAPSHOT/lavagna-1.1-M7-20170803.125138-2-distribution.zip

[2017-08-03 13:43] fernandodiacenco commented on #83
Tried the new snapshot, the email is marked as read, still no card created, console shows this:

I will try IMAPS as soon as i can and return with the results, thanks!

[2017-08-03 13:55] syjer commented on #83
@fernandodiacenco , thanks for the check, well, looks like that POP3 does not give enough informations... I guess that we will remove and leave only the IMAP support.

[2017-08-03 14:42] fernandodiacenco commented on #83
Hmm I reinstalled to make sure configuration wasn't the problem, and tried IMAPS a few times

Id did not mark the email  as read, the log shows:

Unfortunately it does not give me more details, I wish to know if the error is because of some weird uncommon particularity of my email provider or something else.

[2017-08-03 14:45] syjer commented on #83
@fernandodiacenco , I'll check what we can do to improve the diagnostic/logging  so we can resolve your issue :)

[2017-08-05 13:31] syjer commented on #83
@fernandodiacenco , I've added additional logging, it will print the full exception, can you try with the latest SNAPSHOT release https://oss.sonatype.org/content/repositories/snapshots/io/lavagna/lavagna/1.1-M7-SNAPSHOT/lavagna-1.1-M7-20170805.133028-3-distribution.zip thanks :+1:

[2017-08-07 12:45] fernandodiacenco commented on #83
I tested it, the email is marked as read using both POPS and IMAPS but no card is created

Server is listening at 0.0.0.0/0.0.0.0:8080
09:12:26.663 [main] WARN  io.lavagna.common.LavagnaEnvironment - Property datasource.password is not set, using default value:
09:12:26.670 [main] INFO  io.lavagna.common.LavagnaEnvironment - For property datasource.dialect, the value is: HSQLDB
09:12:26.670 [main]

[2017-08-07 13:02] syjer commented on #83
@fernandodiacenco , thanks for checking, so the configuration for connecting to the mailbox is correct.

Most likely it's a problem in the configuration of the alias/board setting. We will add some additional log so we can trace it better.

[2017-08-07 13:06] syjer commented on #83
As an example of configuration of the alias:

![screenshot from 2017-08-07 15-06-16](https://user-images.githubusercontent.com/498146/29027691-038f275a-7b82-11e7-807c-76fb8923cc04.png)

[2017-08-07 13:18] fernandodiacenco commented on #83
The only difference in my config was that I checked "send email as alias", but its not working without it either

![image](https://user-images.githubusercontent.com/2643364/29028128-ab84c5a6-7b59-11e7-8898-95c00ee7f6fc.png)

![image](https://user-images.githubusercontent.com/2643364/29028132-b1773f8e-7b59-11e7-89c5-97c7b1d2039f.png)

[2017-08-07 13:29] syjer commented on #83
@fernandodiacenco , thanks for the feedback. We will add some additional logging. It's really strange as we just tested on our instance and it's working.

[2017-08-07 13:47] syjer commented on #83
One possible case is that

[code]

which is used in

[code]

is not returning the expected value.

[2017-08-15 14:26] syjer commented on #83
@fernandodiacenco , I've committed a more general approach for checking the presence of the alias email in the email headers and added more logging, you can try with the following snapshot, https://oss.sonatype.org/content/repositories/snapshots/io/lavagna/lavagna/1.1-M7-SNAPSHOT/lavagna-1.1-M7-20170815.141618-4-distribution.zip .

Thank you :)

[2017-08-15 17:37] fernandodiacenco commented on #83
It worked, and I received the email notification normally

![image](https://user-images.githubusercontent.com/2643364/29327920-228ec278-81c7-11e7-9131-ab20eee49f55.png)

Thanks!

[2017-08-15 18:52] syjer commented on #83
.@fernandodiacenco thank you for testing :+1:

[2017-08-15 18:52] #83 closed

[2017-08-23 10:28] superkekko opened #85 "Request simple authentication method"
Is it possible to have a simple authentication method? Because I work under proxy ad it is impossibile to access our ldap server.

[2017-08-23 10:39] syjer commented on #85
Hi @superkekko , you can use the release 1.1-M7 which include a simple "password" login.

[2017-08-25 08:01] superkekko commented on #85
Thank you. I've problem to setup with the war file but I've tried with the sh and the login work perfectly.

[2017-08-25 08:01] #85 closed

[2017-08-28 08:55] superkekko opened #86 "csv card export"
Is it possible to have a csv (or json) export of all the card in a board with all the properties (status, due date, create date, assingn to, and lables)?

[2017-08-28 09:51] syjer commented on #86
I guess that we could add it, as we already have an export to "excel" :) 👍

[2017-08-28 10:22] superkekko commented on #86
Awesome because my client want a report of the tasks. Thanks.

[2017-08-28 12:49] superkekko opened #87 "notification on due date"
Hi, is it possible to configure a card reminder a day before due date (if is set)?

[2017-08-28 12:53] fernandodiacenco opened #88 "Suggestions to improve Lavagna versatility as ticketing system"
Hi there!

I'm using Lavagna 1.1 m7 as everyday work tool , it can't replace our current ticketing system (yet) but I will leave a few suggestions hoping this can be achieved in the future

1) Word wrap can be improved a little perhaps instead of cutting half the word it adjusts it on the next line, see:
![improve_wordwrap](https://user-images.githubusercontent.com/2643364/29772987-b109f04a-8bd1-1

[2017-08-28 13:05] syjer commented on #88
Hi, @fernandodiacenco , thanks for the feedback 👍 .

I think that generally all your suggestions are feasible :). We will try to implement them bit by bit :)

[2017-08-28 20:15] syjer commented on #87
Currently not, as an alternative, you can import a .ics feed in your preferred calendar/mail system (you can copy paste the link present in your profile).

We will try to add the mail feature though.

[2017-08-28 20:35] syjer commented on #88
by the way, the email notification on creation already exists. You can customize the message too (see the documentation https://github.com/digitalfondue/lavagna/blob/master/src/main/stampo/doc/03-use-lavagna/03-12-ticket-mail.en.peb.md )

[2017-08-29 14:49] Lysander opened #89 "Move Cards between Boards"
Imho it could be usefull to enable the movement of *cards* between (backlogs only?) different *boards*! This way you can better model a typical *sprint based* development process:

* For each *sprint* you create a new board
* after a sprint's end, you *"close"* a board (simply don't touch it anymore)
* You take all the **remaining**, **unsolved** *cards* from the last, finished sprint and move the

[2017-08-30 15:13] superkekko opened #90 "attachment error"
Hi, when I attach to a card a big file (over 5Mb) despite the loaded message when I reopen the card the file is only 1b.

[2017-08-30 15:23] syjer commented on #90
Well, that's strage, which database are you using? Did you set a max file size in the configuration?

[2017-08-30 15:24] syjer commented on #89
hi @Lysander , yes, you are right, it's a missing feature that we will implement. It's not exactly a trivial change as we will need to keep track of the previous location.

[2017-08-30 15:27] superkekko commented on #90
mysql as DB. I didn't install the application my colleague did. Where is the settings? I can check.

[2017-08-30 15:29] syjer commented on #90
In the "Admin Panel", first panel: "Configuration Parameters", there is an input where you can set the max size in bytes.

[2017-08-30 15:37] SitoCH commented on #89
Hi,
thank you for your suggestion. The underlining idea of multiple boards per project is to split different unrelated areas of the same project so moving a card between them wasn't planned. Moving a card can be a bit tricky because it changes the ID (OLDBOARD-1 may become NEWBOARD-3) and this will break existing links. Having said that we already have done the groundwork for it because it's surel

[2017-08-30 16:00] superkekko commented on #90
I don't have that configuration paramiter

![error](https://user-images.githubusercontent.com/25342565/29882374-164acf42-8dad-11e7-9e39-52570ea86b4b.png)

[2017-08-30 16:06] SitoCH commented on #86
At the moment you can export everything to Excel and from there export it again to CSV.
If you are using Lavagna 1.0.X you can find the button in the project's administration page, with version 1.1.X it's on the project's main page, right after the title.

[2017-08-30 16:09] SitoCH commented on #87
If you use the calendar feed you'll automatically receive an alert the day before the due date.
I've tested it with the MacOS's Calendar, Outlook and Gmail: just paste the link that you find under your profile and you're ready to go.

[2017-08-30 16:16] SitoCH commented on #90
It's the second field from the top: `Max upload file size (in bytes)`.
If I remember correctly there may also be some connection string parameter to adjust in order to allow bigger package sizes.

[2017-08-31 07:37] superkekko commented on #90
Thanks. I thought that value was for Trello. I will check.

[2017-08-31 07:39] superkekko commented on #90
All good, thanks.

[2017-08-31 07:39] #90 closed

[2017-08-31 07:52] superkekko commented on #86
Awesome. Is it possibile to have in that export also the due date, create date, assingn to, and lables?

[2017-08-31 07:56] superkekko commented on #87
I've tried to add the calendar (.ics) in Outlook (2010) but I didn't receive any notification. There's something to add in the configuration?

[2017-08-31 09:11] SitoCH commented on #87
Outlook is always a minefield, I think that I tried with Outlook 2013 and it worked but I can't check it right now to see if I remember it correctly.

[2017-08-31 09:15] SitoCH commented on #86
Yes, I think that the only field that isn't exported is the "creation date", all the others should be exported in the Excel.

[2017-08-31 10:58] superkekko commented on #86
Yes. I've checked in another project and is perfect. Thanks.

[2017-08-31 13:23] superkekko commented on #87
Ok. I've done some research and it seem that in Outlook 2007-2010 isn't possibile to have a reminder in ics calendars.

[2017-08-31 14:02] Lysander commented on #89
Can you explain for what reason mupltiple boards are usefull? What's the reason for them you had in mind?

Thank you for this proposal! Sounds good enough to deal with the situation 👍 I will give it a try!

[2017-09-01 12:28] SitoCH commented on #87
Unfortunately supporting Outlook is always difficult, we had issues even with the HTML rendering of the notification e-mails...

[2017-09-01 12:39] SitoCH commented on #89
Sometimes you wish to split a project in smaller sizes but still keep everything unified with the same labels, milestones, reports, ...
As an example we have a real world case where a single project uses one board to keep track of the actual development, another one to handle bugs and change requests for the current version and a third one to handle business request coming from "outside" the IT. Y

[2017-09-18 22:45] mayurguptaiiitm opened #91 "Milestones Role Base"
I have started to use this but i am having a question like when i assign roles to a user the milestone cannot be created by anyone who is not an admin. wanted to know if its possible to have it in roles so that the person even if is not an admin can create a milestone. Let me know if this is something i have missed or its generic that cannot be done.

[2017-09-19 05:13] SitoCH commented on #91
Hi,
you are right, at the moment you need the PROJECT_ADMINISTRATION permission (at project or global level) to add a new milestone and we don't have plans to change the behaviour. Is it an issue for you?

[2017-10-10 16:02] superkekko opened #92 "Error file removed"
When I create a card and upload a file when I confirm the card creation the attachment became 0byte. If I try to remove ad upload again the file become always 0byte. If I rename the file the upload work.

[2017-10-10 16:05] superkekko opened #93 "Add watcher"
Is it possible from a user "A" add a whatcher a user "B" like the assign button?

[2017-10-10 16:49] syjer commented on #92
Hi @superkekko , we will check and fix it :). Thank you for opening the issue

[2017-10-10 16:51] syjer commented on #93
Currently it's not possible, but you are right: it should be :).

[2018-01-10 16:52] superkekko opened #95 "Problem with Safari"
Hi, if I open Lavagna with safari there is a problem with the refresh of the pages after an update of a field.

[2018-01-10 22:13] SitoCH commented on #95
Hi,
I just tried the latest version with Safari 11.0.2 and everything works fine. Can you specify the steps required in order to reproduce the issue?

[2018-01-13 16:53] superkekko commented on #95
I've tried with Safari 11.0.1 but every time I enter in Lavagna the first thing I notice is the message "Connection failure". If I use Firefox I don't have this message.

[2018-01-14 22:33] SitoCH commented on #95
The "Connection failure" message may be related to a web socket issue, can you check in the developer tool if you see error messages?

[2018-01-26 16:25] superkekko commented on #95
Hi, sorry for the delay. I've checked the problem and when I connect to lavagna with Safari I get a 302 error, it seem that the page is not refreshing correctly. When I use Firefox the problem don't exist.

[2018-01-26 16:29] superkekko commented on #95
Here the snippet of the log file:

xxx.xx.xxx.xxx - - [26/Jan/2018:17:21:16 +0100] "GET /" 302 219 "-" "-"
xxx.xx.xxx.xxx - - [26/Jan/2018:17:21:16 +0100] "POST /lavagna/api/socket/439/efbespjz/xhr_streaming?t=1516983676257 HTTP/1.1" 403 - "https://xxxx/lavagna/DEMO/TEST" "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_13_1) AppleWebKit/604.3.5 (KHTML, like Gecko) Version/11.0.1 Safari/604.3.5"
xxx.xx.

[2018-01-28 20:56] SitoCH commented on #95
I've seen that you are using Lavagna on HTTPS, are you using a reverse proxy? It may be related to some misconfiguration in the reverse proxy...

[2018-02-18 01:31] c0mputerking opened #96 "Cannot get Lavagna to start with MySQL"
I guess i am a total java newbie, i know, i know, everyone hates a newb but i cannot get Lavagna to start with MySQL.  Probably missing something really obvious, but cannot figure it out so thought it would put up an issue here details below.

NOTE I can get Lavagna to running with HSQLDB but it does not store anything as per the design i suppose, It looks really great, more on that later, and i c

[2018-02-18 10:17] SitoCH commented on #86
I'm closing this issue because the required columns have been included.

[2018-02-18 10:17] #86 closed

[2018-02-18 15:09] SitoCH commented on #44
I’m closing this issue because it has been inactive for too long, please reopen it if you still encounter this issue.

[2018-02-18 15:09] #44 closed

[2018-02-18 15:09] SitoCH commented on #49
I’m closing this issue because it has been inactive for too long, please reopen it if you still encounter this issue.

[2018-02-18 15:09] #49 closed

[2018-02-18 15:10] SitoCH commented on #65
I’m closing this issue because it has been inactive for too long, please reopen it if you still encounter this issue.

[2018-02-18 15:10] #65 closed

[2018-02-18 15:22] SitoCH commented on #96
Hi,
did you try to put the `"` around every parameter? It should look like this:

[code]

[2018-02-18 19:03] c0mputerking commented on #96
Thank you for your help :)
I tried putting everything in double quotes, and get a new error now see below could be progress :)

NOTE the only command i used to setup my database is this "CREATE DATABASE lavagna CHARACTER SET utf8 COLLATE utf8_bin;" found in you help section is that enough to get things going as there is probably no username or password yet?

Here is what i have in my config lavagn

[2018-02-18 19:23] SitoCH commented on #96
Maybe it's due to the whitespace between `-Ddatasource.password=` and `"somepassword"`, if you remove it do you see the same error?

[2018-02-19 01:32] c0mputerking commented on #96
Yep that fixed it :) THANK YOU what a silly mistake on my part sorry

Bye the way thank you again for your help and a huge thank you for Lavagna looks so incredibly awesome i am super excited to start using it now.  The feature set looks like an almost perfect match to what i have been looking for amazing it's like you folks read my mind :)

Have been looking for something like this for years, hav

[2018-02-19 03:18] #96 closed

[2018-02-19 21:26] SitoCH commented on #96
Thank you very much for the compliments, I'm glad that your issue is now resolved.

[2018-02-19 23:53] c0mputerking opened #97 "Enable https not working"
Running lavagna-1.1-M7 on Debian 9

I tried checking Enable http strict transport security header in the admin panel, to hopefully enable https and now i can no longer connect to Lavanga even after restarting the application as suggested in the log.

If i try with https i get this error in my browser

If i try with http it lets me login but i then i get this error in my browser

This is what is pr

[2018-02-20 10:43] syjer commented on #97
hi @c0mputerking , the addition by the application of the hsts header is a feature that we want to remove, as you have noticed is quite hard to configure. It's something that should be done at the proxy level.

I would advise you to go in the database and remove the configuration key.

[code]

[2018-02-20 18:04] c0mputerking commented on #97
I just restored from a backup, but thank you for the hint about the database entry ... I still need to get https going, however i did not find any howto or info in the docs about setting up a proxy, is this documented somewhere? or is this just something people with more java experience know how to do :)

[2018-02-20 18:06] syjer commented on #97
@c0mputerking , normally you would setup a reverse proxy (like nginx or haproxy) that handle the https termination.

So you would have something like that:

[code]

[2018-02-20 20:45] c0mputerking commented on #97
Ok thank you i will give it a go

[2018-02-20 20:54] c0mputerking opened #98 "change BASE_APPLICATION_URL ?"
Is there a way to change the BASE_APPLICATION_URL i installed Lavagna on several test VM's but want to move it into its proper DNS place now. For example i am now using http://lavagna-3.mydomain.com and would like to move it to https://lavagna.mydomain.com

Related to another issue i have opened [https://github.com/digitalfondue/lavagna/issues/97](url)
I may or may not need to change the http:// t

[2018-02-20 22:08] SitoCH commented on #97
The best way to setup a reverse proxy with SSL is to use Docker, if you know it you should try that way.
This is a sample docker-compse (it uses Let's Encrypt to generate automatically the certificates so it's all free):

[code]

[2018-02-20 22:10] SitoCH commented on #98
As far as I remember you have to edit the database, there should be a config table somewhere.

[2018-02-21 19:29] runelynx opened #99 "Lavagna installation reset; sends me back into setup"
Hi -
I've had lavagna running for about a month now without issue, my guys love it. But today when we opened it up we're back at the setup screens. I hope our boards and cards are not lost (was using HSQLDB).

More importantly I need to find the root cause or no one wants to go anywhere near this again .

Any ideas? My logs are below.

Wrapper Log:
[code]

Out Log
[code]

Err Log
[code]

[2018-02-21 19:30] syjer commented on #99
Hi @runelynx , it looks like that you used the in memory database (-Ddatasource.url=jdbc:hsqldb:**mem**:lavagna) ...

Sorry but the data is lost :(

[2018-02-21 19:33] syjer commented on #99
I hoped that the manual http://help.lavagna.io/02-install/02-01-install.html#hsqldb was clear enough... Maybe we need to change the default in the script.

[2018-02-21 21:33] SitoCH commented on #99
If you really want to use HSQLDB you can turn on the file persistence with:

[code]

[2018-02-21 21:37] runelynx commented on #99
Thanks all! Changing to :file: and starting the rebuild. 👍

[2018-02-21 21:37] #99 closed

[2018-02-26 12:14] ejouvin commented on #46
1 year since I try to find a solution.
Today, I did try to work on it, because I have now "correct" certificate.

I found a try to make it works on HTTPS for Apache server, but deployed on HTTP in Tomcat.

**Careful**, I change one another thing...
I remove the sub URI /lavagna, to make it acessible throw root URI.

[code]

The important part was the wss redirection and ht erequest header modifica

[2018-02-26 20:20] SitoCH commented on #46
Perfect, thank you for posting the proxy configuration because at the moment we had only samples for NGINX and it may be really useful for other users.

[2018-02-26 20:22] SitoCH commented on #97
@ejouvin posted a snippet for Apache if you prefer it to NGINX: https://github.com/digitalfondue/lavagna/issues/46#issuecomment-368481631

[2018-02-27 08:11] ejouvin commented on #46
Full proxy configuration for proxy with HTTPS
[code]

In this case, Lavagna is deployed on Tomcat, on same server than Apache, and aceessible throw http://localhost:8080/lavagna

The proxy configuration made Lavagna enabled under https://www.lavagna.dummy.net. It would be easier if I wanted to have https://www.dummy.net/lavagna.

A "root" folder is created under /var/www/lavagna, where I put a fil

[2018-02-28 00:55] c0mputerking commented on #97
Took me alot of tries to get reverse https going including some reading here on this forum and on the web. Probably mostly because i have never setup a reverse proxy before, and haven't worked much with ngnix either.  Also just to add I could not use docker as i am running lxc containers and from past attempts they do not work with docker.  Any ways i am going to put my ngnix config up here for my

[2018-02-28 06:15] SitoCH commented on #97
Setting up a reverse proxy isn't really easy but it's really useful if you're running on a VPS or you want to use HTTPS, it took me more than a few tries to get it working the first time...
The file seems to be correct but I don't understand why you commented out the lines:

[code]

Are you sure that everything works fine?

[2018-03-05 08:57] c0mputerking commented on #98
Took my awhile to get this done, and my mysql syntax is weak so i cheated and used phpmyadmin.
Here is the SQL needed to change BASE_APPLICATION_URL as it gets outputed by phpmyadmin and may come in handy for someone else.  Lastly thanks for the point in the right direction SitoCH

UPDATE `LA_CONF` SET `CONF_VALUE` = 'https://list.solar.mydomain.com/' WHERE `LA_CONF`.`CONF_KEY` = 'BASE_APPLICATION

[2018-03-05 20:18] c0mputerking commented on #97
Yes agreed about the usefulness of reverse proxy it was on my bucket list :) have been able to avoid it until now using different port numbers for everything

Anyways i but the three config entries back in ... seemed to work fine without but maybe it works better now :) not sure a bit to soon to tell ... anyway as always thank you greatly for your help and support

[2018-03-05 22:09] SitoCH commented on #98
Yes, that is the right SQL statement to change the `BASE_APPLICATION_URL` setting, everything else should work fine.

[2018-03-05 22:09] #98 closed

[2018-03-05 22:11] SitoCH commented on #97
If I remember correctly without those settings you should get errors when using Lavagna on two different tabs in the same browser, can you check if it works?
Maybe the NGINX's version that you are using has different defaults and everything is already working out of the box...

[2018-03-05 22:48] c0mputerking opened #100 "Email Ticket Question"
I read the doc below which helped me out but i still have a question/problem to ask.
https://github.com/digitalfondue/lavagna/blob/master/src/main/stampo/doc/03-use-lavagna/03-12-ticket-mail.en.peb.md

This is my question I have 2 projects lets call them projectA and projectB, and would like to use one email address suppport@projectA for both if possible due to limited number of emails available.

[2018-03-07 21:35] SitoCH commented on #100
I think that it may be due to this method in MailTicketService:
https://github.com/digitalfondue/lavagna/blob/d41e84d3835cc96064ccc1cedc60786ded185086/src/main/java/io/lavagna/service/MailTicketService.java#L197

Can you provide the e-mail headers so we can see what header is triggering the check?

[2018-03-07 22:57] c0mputerking commented on #100
I feel a bit nervous posting this here, not sure why as this info gets sent back and forth everytime i send an email message ... but here is the mail header as requested

[2018-03-08 01:15] erost commented on #100
Unfortunately that’s the “correct” behaviour, at least right now. Implementing something generic for dealing with emails was never easy, so we resort to scan all headers for the desired destination address.

That works in some cases:
- one inbox exposed as public address
- one internal inbox with multiple exposed aliases
But doesn’t work in a specific case:
- one publicly exposed inbox with multip

[2018-03-08 06:17] c0mputerking commented on #100
Hello again all, and first off thank you very much for including such a great feature, really useful, email tickets is one of the main reasons i started using Lavagna.  Even if i have to create an email account for each project it would NOT be a deal breaker or showstopper for me, but i am still unclear about that requirement, and have summarized with another example below.

Ok so I am still a bit

[2018-03-10 09:01] c0mputerking opened #101 "Calander feed error The following URL is not currently reachable"
When i try to add the Calendar URL from my profile to Zimbra as an external ical i get the error below

The following URL is not currently reachable: https://list.solar.myfakedomain.ca/api/calendar/91b9ccefc6f02716adccb2bd096b7ee41ed9412b8ae2faf22cf8105307bdea95/calendar.ics

Not much to go on i know nothing gets output on the lavagna java console, and tried to look threw my zimbra logs got tired

[2018-03-14 21:13] SitoCH commented on #101
Hi, sorry for the delay.
Without error logs and not knowing Zimbra it's a bit hard to debug your issue, I just tried the latest version and everything is fine using MacOS Calendar.
Are you sure that the "Disable calendar feed access" checkbox is unchecked?

[2018-05-16 08:56] irfanr opened #102 "Forbidden when trying to access setup page in installation"
Hi,

I have problems accessing setup page (http://localhost:8080/setup/) that said:

I'm using standalone app (jetty) using dev mode with hsqldb memory.

Is there any workaround for this? Great thanks for the help :)

[2018-05-16 09:03] syjer commented on #102
hi @irfanr , if you are using it in dev mode with hsqldb, then it's already configured with some sample data, so the setup application is disabled.

you can pass the parameter -spring.profiles.active=prod to enable the setup option.

[2018-05-16 09:06] irfanr commented on #102
I worked with prod mode. Thanks!

[2018-05-16 09:06] #102 closed

[2018-06-16 19:08] c0mputerking opened #103 "failed to parse message body"
Hello again all :) it has been awhile since posting here, I upgraded my system to version 1.1 anyways now having issues with mail tickets, apparently they are not being parsed correctly see error below.  Please forgive me if i am (hopefully) overlooking something simple like a missing dependency on my system which is Debian 9

[code]

[2018-06-16 19:11] syjer commented on #103
Hi @c0mputerking , looks like some kind of bug in our code. I'll have a look.

[2018-06-16 19:18] syjer commented on #103
looking at the code, I can't identify an easy culprit at the moment. Looks like it will be hard to track down. Maybe updating the dependency on our side will fix the bug.

[2018-06-16 19:18] c0mputerking commented on #103
WOW that was quick, thank you so much for looking into this :) for me.  As a side Note i had email support tickets working pretty good on 1.1 M8 ... however i rolled out a completely new Debian 9 system for the 1.1 upgrade, and just imported my database to the new version of Lavangna, which worked pretty nicely ... seemed to have missed mail ticket config setting however but not a biggy all my boa

[2018-06-16 19:20] syjer commented on #103
the exception is launched when calling bodyPart.getContent();

[code]

(https://github.com/digitalfondue/lavagna/blob/master/src/main/java/io/lavagna/service/MailTicketService.java#L282).

The exception said that the Folder is already closed, but currently I can't see how it's possible.

[2018-06-16 19:27] syjer commented on #103
looks like it's this issue: https://jira.spring.io/browse/INT-4299

[2018-06-16 19:33] c0mputerking commented on #103
Yes i saw that while googling before i posted :) however it was a bit over my head ... Hmmm also was there some kind of change in versions that would have caused this moving from 1.1.M8 or is just my luck with new install/import?

[2018-06-16 19:36] syjer commented on #103
@c0mputerking , we did update some dependencies, but currently I can't see how they are related to this issue.

[2018-06-16 19:42] syjer commented on #103
As a first test, could you try this snapshot version with the updated dependencies?

https://oss.sonatype.org/content/repositories/snapshots/io/lavagna/lavagna/1.2-SNAPSHOT/lavagna-1.2-20180616.194012-1-distribution.zip

[2018-06-16 19:51] syjer commented on #103
as an alternative, we will need to extend `Pop3MailReceiver` and `ImapMailReceiver` and then override/customize the .receive() method.

[2018-06-16 20:07] c0mputerking commented on #103
I can try the snapshot but is it stable or can/will it mess up my database? or should it just be as simple as putting my lavagna.sh file in the new snapshot dir

[2018-06-16 20:08] syjer commented on #103
it's stable, I've only updated the dependencies (see commit https://github.com/digitalfondue/lavagna/commit/0f6faa127699af16ae635d5a727d701d8c88e834 ). There are no others changes in the code.

[2018-06-16 20:12] c0mputerking commented on #103
Sorry to be an amateur but i am guessing the dependencies are baked into Java somehow? ie my OS does not need any further packages to be installed?

[2018-06-16 20:13] syjer commented on #103
you are right, all the dependencies are in the ".war" archive.

[2018-06-16 20:29] c0mputerking commented on #103
Ok just for testing i sent 2 emails one html and one plain text, i got the plain text one.
html email still gives error

[code]

[2018-06-16 20:30] syjer commented on #103
thanks for testing, I'm implementing the alternative solution (ugly, but I think it will work).

[2018-06-16 20:38] c0mputerking commented on #103
Ok will we be alerted here? please not a huge rush, do not make it to ugly :) also does this correlate with the other bug i submitted some time ago?

https://github.com/digitalfondue/lavagna/issues/100

[2018-06-16 20:43] syjer commented on #103
well, the uglyness is only due to the fact that I'll unfortunately need to import some code and modify it, as they don't provide any point to "inject" my custom code. It's unfortunate, but I hope it's temporary :).

I'm pushing the code and a new snapshot in a few minutes. If you want to try :).

(About the #100, I don't think so).

[2018-06-16 20:49] syjer commented on #103
New snapshot up: https://oss.sonatype.org/content/repositories/snapshots/io/lavagna/lavagna/1.2-SNAPSHOT/lavagna-1.2-20180616.204753-2-distribution.zip :)

It should work now, I hope :)

[2018-06-16 20:58] c0mputerking commented on #103
Ok seems to be working now :) bit different output now but i got an html message

[code]

[2018-06-16 20:59] syjer commented on #103
If it work, then I'll make a stable release tomorrow :).

Thank you for opening this issue :D

[2018-06-16 21:35] c0mputerking commented on #103
Looks like it is working ... however dis some testing
With an inserted image that did not quite work but i did get an inline text placeholder like [image: ihategmail.png] so i knew there should be an image
Also tested with an attached txt file which did not get attached, but actually got parsed which was kind of cool
Finally i tested with an attached png not working and got invisibly dropped so i

[2018-06-16 21:43] syjer commented on #103
Thank you for providing more information :).
About
- the inline image, I think it would be expected, as we don't do any special handling.
- the attached text file: as it process all the text/plain and text/html attachments, I think it's correct
- about the attached image, I'll have a look, it should ignore the data I think. I'm quite sure that it will not attach any attachment to the issue though.

[2018-06-16 22:05] c0mputerking commented on #103
would be cool if it added attachments to the cards as attachments may be a feature request ?

[2018-06-16 22:06] syjer commented on #103
sure, I'll create a new issue for that feature request :)

[2018-06-16 22:08] syjer opened #104 "Email Ticket service: add attachment to the card"
As described in issue #103 , it would be a nice feature (configureable?) to add the email attachment to the card.

Note: should we define a white list/black list?

[2018-06-16 22:08] syjer commented on #103
done. I'll close this issue, thank you. :)

[2018-06-16 22:08] #103 closed

[2018-06-17 06:11] c0mputerking opened #105 "New User cannot drag and drop?"
Just trying to get some users and permissions setup, and as stated in the the Lavagna Documentation I have created a Global Role (I called it General) and gave it only the permission directly below.  I then added my new user and plan to add all new users to that Role as per the Documentation

Update User Profile
Search

I then create another Project Role with full permissions ie I checked everythi

[2018-06-17 10:42] syjer commented on #105
hi @c0mputerking , I'll have a look.

[2018-06-17 11:04] syjer commented on #105
@c0mputerking , found the bug, we didn't passed the project in this specific case :).

I'll do a new stable release with this fix.

[2018-06-17 11:05] #105 closed

[2018-06-17 11:37] syjer commented on #105
@c0mputerking the release 1.1.1 has been published with this fix too: https://github.com/digitalfondue/lavagna/releases/tag/lavagna-1.1.1 .

[2018-06-17 23:50] c0mputerking commented on #105
Thank you VERY much :)

[2018-06-28 23:20] c0mputerking opened #106 "Multi select not working??"
Hello i can multi select by checking a bunch of card but i have about 100 that i need to move to the trash, and even though i selected them all they still only move one at time ... maybe i am missing something?

[2018-07-17 14:06] SlytherinCz opened #107 "Download export"
Clicking Download Export results in following stack trace
[code]
Using image `digitalfondue/lavagna:stable` as of today.

Firefox Quantum 61.0.1 (64-bit)

[2018-07-17 14:06] syjer commented on #107
Hi @SlytherinCz , I'll have a look :)

[2018-07-18 08:27] SlytherinCz opened #108 "Read configuration keys from file, if present"
This is an enhancement proposal.

Would you consider adding an option to configure "keys" (auth provider details, admin user uid and so on)  to an external file? First run of Lavagna would look whether the file exists, and if so, use values from the file rather than ask for setup process.

This would allow for versioned configuration, and repetitive deployment of testing instances with cleared dat

[2018-07-18 08:45] syjer commented on #108
Hi @SlytherinCz , yes, it should be easy. As we already can configure the database configuration in a configuration file (https://help.lavagna.io/02-install/02-02-configuration.html#configuration) , I guess we can read some additional keys.

[2018-07-18 21:50] SitoCH commented on #107
I pushed a fix in both branches, this is a really strange issue that affected only Firefox...
Waiting for @syjer to publish a new release so we can update the Docker images.

[2018-07-20 14:23] syjer commented on #108
Should be done.

Implementation note:

In the environment (could be the external configuration or a system property (see for an example https://github.com/digitalfondue/lavagna/commit/8bf1b2a4fdf20125c2bcbf5c3d58c98b43295eca#diff-600376dffeb79835ede4a0b285078036R721 )) some key must be present:

 - setup.fromData=true
 - setup.AUTHENTICATION_METHOD=demo|password|ldap|oauth
 - setup.BASE_APPLICATIO

[2018-07-20 14:23] #108 closed

[2018-07-20 17:37] syjer commented on #107
should be done. Will need some time for uploading.

[2018-07-20 17:37] #107 closed

[2018-07-20 21:14] SitoCH commented on #107
Docker images updated, the export is now fixed for Firefox.

[2018-09-21 15:15] NextDesign1 opened #109 "RESTful API?"
Hi there,

Is a RESTful API in the works? Being able to control lavagna from other applications would be a great addition.

Thanks.

[2018-09-21 15:18] syjer commented on #109
Hi @NextDesign1 , what kind of API would you need?

As technically we already have an undocumented REST api for the angular application that we could expose/cleanup.

[2018-10-17 14:36] #109 closed

[2018-11-11 05:13] shashaanktulsyan commented on #109
something similar to net.rcarz.jiraclient.JiraClient

[2018-11-24 05:34] Bertinmendonsa opened #113 "csrf token not equal to expected, while confirm and submit User"
![screenshot from 2018-11-24 10-56-12](https://user-images.githubusercontent.com/25399465/48964914-4d150e00-efd8-11e8-956a-a4dbafbed9f0.png)

Getting this error by clicking on the **activate** button, values are not getting saved in to database.

[2018-11-24 11:08] syjer commented on #113
hi @Bertinmendonsa , I'll have a look, thank you for the report.

[2018-11-24 13:10] syjer commented on #113
@Bertinmendonsa , I'm trying to reproduce the error, it seems to be a timing/session issue, as I'm not able to reproduce it easily (at the moment 1 out of 10~). If you do a reload of the page and you redo the setup, does it work?

[2018-11-24 13:20] Bertinmendonsa commented on #113
Hi,

I tried to reload the page and redo the setup, No it did't  work for me.

when I click that activate button, I am getting the error

Thank you for the support.

On Sat, Nov 24, 2018 at 6:40 PM Sylvain Jermini <notifications@github.com>
wrote:

[2018-11-24 14:03] syjer commented on #113
hi @Bertinmendonsa , could you try to use https://oss.sonatype.org/content/repositories/snapshots/io/lavagna/lavagna/1.1.3-SNAPSHOT/lavagna-1.1.3-20181124.140151-1-distribution.zip ? I've updated/changed some code, it may help you. Thank you.

[2019-01-07 06:07] FDU-SE-LAB opened #114 "Your project digitalfondue/lavagna is using buggy third-party libraries [WARNING]"
Hi, there!
We are a research team working on third-party library analysis. We have found that some widely-used third-party libraries in your project have major/critical bugs, which will degrade the quality of your project. We highly recommend you to update those libraries to new versions.
We have attached the buggy third-party libraries and corresponding jira issue links below for you to have more

[2019-01-07 07:43] syjer commented on #114
closing this issue, as it does not help us.

note: we are using the latest version of all the reported libraries, can't do much.

[2019-01-07 07:43] #114 closed

[2019-02-14 10:58] 360CodeSafe opened #115 "Ldap injection"
HI！
This is Qihoo360 CodeSafe Team, we found ldap injection vulnerability in lavagna in our open source code detection project.
The details are as follows:
In the checkLdap() in the ApplicationConfigurationController.java file, accept the parameters in the request and pass in authenticateWithParams() in Ldap.java
![default](https://user-images.githubusercontent.com/39950310/52782852-03920780-308b-

[2019-02-14 18:39] syjer commented on #115
hi @360CodeSafe , actually the behavior is correct (or at least, it should be).

The controller `ApplicationConfigurationController` accept only users with the ADMINISTRATION role (https://github.com/digitalfondue/lavagna/blob/master/src/main/java/io/lavagna/web/api/ApplicationConfigurationController.java#L31).

The method that you have highlighted `checkLdap()` is called when the administrator is

[2019-03-11 10:38] corbet-consulting opened #117 "Delete Projects/Boards/..."
Hi @syjer,

thank you for contributing this beautiful project management software.

I would like to ask whether it is likely that we see the feature to remove projects/boards and the such. Is it possible to remove them easily with a database query or should one abstain from it on a production instance?

Best

Julian, Corbet Consulting

[2019-03-11 10:45] corbet-consulting opened #118 "Multicore support/Is Lavagna only singlethreaded?"
Hi @syjer,

I have noticed some lags when using Lavagna. I am not sure why ... so I digged system utilization using top (Linux) and found out that most of the server's resources remain unused. I am running an Octacore ARM (!) processor, yet I often saw only 10-12% utilization while there is plenty of free RAM. I can also assume storage IO is not the bottleneck (Samsung 860 EVO SSD).

I am not sure

[2019-03-11 11:59] syjer commented on #118
hi @corbet-consulting , I can confirm that Lavagna is multi threaded.

But as most java applications, you still need a "beefy" cpu, additionally, the jvm as far as I know, it's not really optimized for ARM. (You should check if it even has the JIT compiler enabled).

[2019-03-11 12:05] syjer commented on #117
Hi @corbet-consulting , we generally advise to simply archive them, because removing them may cause problems when you are referencing them from others tasks that are not removed.

[2019-03-11 19:10] corbet-consulting commented on #118
Thanks for your answers. They are really helpful.

How can one check whether "the JIT compiler is enabled"? I guess a lot of people run software on ARM these days, so it might be helpful to more people than myself to know :)

[2019-03-11 19:14] corbet-consulting commented on #117
I do understand this. But can there be any option as sometimes you create projects and boards and you might still have typos in them or do some other silly things that you want to undo. :)

Archiving them feels "false" and also clutters and maybe is also an embarassment in front of your colleagues. So yeah ... I do get your point, but there should be some deleting in these (and countless other) si

[2019-03-11 21:21] syjer commented on #117
hi @corbet-consulting , you are absolutely right about having the possibility to remove them at the early stage in case of a typo. I'll have a look how to implement that functionality in a safe way. Thank you for your feedback.

[2019-03-11 21:27] SitoCH commented on #115
Closing due to inactivity, feel free to reopen it if there's something new.

[2019-03-11 21:27] #115 closed

[2019-03-11 21:27] syjer commented on #118
hi @corbet-consulting , unfortunately I'm not sure how you can check. In theory, if you have a recent jvm (java 9+) you can be sure that the JIT should be present.

If you write in the console: `java -version` what's your output?

[2019-03-11 21:28] SitoCH commented on #101
Closing due to inactivity, feel free to reopen it if there's something new.

[2019-03-11 21:28] #101 closed

[2019-03-11 21:28] SitoCH commented on #95
Closing due to inactivity, feel free to reopen it if there's something new.

[2019-03-11 21:28] #95 closed

[2019-03-11 21:28] SitoCH commented on #91
Closing due to inactivity, feel free to reopen it if there's something new.

[2019-03-11 21:28] #91 closed

[2019-03-11 21:29] SitoCH commented on #87
Closing due to inactivity, feel free to reopen it if there's something new.

[2019-03-11 21:29] #87 closed

[2019-03-11 21:36] SitoCH commented on #118
Usually on ARM the JIT is disabled, that's why on our test Docker image for Raspberry we use the Zulu JVM:

https://github.com/digitalfondue/lavagna-docker/blob/raspberry-pi/Dockerfile

[2019-03-13 10:00] corbet-consulting commented on #118
Thank you for your comment. I have now installed Zulu JVM and indeed I see much higher performance which resolves my performance problem. It might be a good idea to add some information on your install page so newcomers can more easily find this information :)

[2019-03-13 10:00] #118 closed

[2019-03-13 10:12] corbet-consulting opened #119 "full-text search"
Hi,

I am facing another issue which most likely will turn out to be a configuration problem most likely by myself.

Lavagna.io highlights "Power search: metadata and full-text search are available." as feature of the software. Having created a board and currently having xy cards we tried out full-text-search but found out that we do not get the expected results: Only the label is ever queried. No

[2019-03-13 12:50] SitoCH commented on #118
Glad to help you, it's really strange that in 2019 the JIT is still disabled and we have to switch to another JVM...

[2019-03-13 20:07] syjer commented on #119
hi @corbet-consulting , could you provide a screenshot of your query? In theory you don't need to do anything special.

[2019-07-12 08:28] Lysander opened #120 "Add URL type to Labels"
I would appreciate it if you could add a kind of URL to the Labels. This way you could relate a ticket to a bug tracking or any other external system. It must be cklickable of course in the task lane overview!

Of course it must have a name field and an URL field separately! That way you could create a Label likes this:

Name: Bug1234
URL: http://192.168.0.100/bugzilla/show_bug.cgi?id=1234

You ju

[2019-07-12 09:35] syjer commented on #120
Hi @Lysander , good idea :)

[2019-09-08 21:19] ofiramit opened #122 "problem trying building the lavanga"
hi.
i got those errors when i try to build lavanga with maven.

"Some problems were encountered while building the effective model for io.lavagna:lavagna:war:1.1.3-SNAPSHOT "
"'parent.relativePath' of POM io.lavagna:lavagna:1.1.3-SNAPSHOT (/pom.xml) points at io.lavagna:lavagna instead of org.sonatype.oss:oss-parent, please verify your project structure @ line 4, column 13"

"The project io.lavagn

[2019-09-08 21:22] syjer commented on #122
hi @ofiramit , which version of maven are you using?

[2019-09-08 21:26] ofiramit commented on #122
hi.
i used maven 3.6-jdk-8

[2019-09-08 21:39] syjer commented on #122
@ofiramit , ok, I guess that's the main issue. I'll try to update it on my side and check what is wrong.

[2019-09-08 21:42] ofiramit commented on #122
hi.
maybe you have a recommend maven imgae to use?

thx

On Mon, Sep 9, 2019 at 12:39 AM Sylvain Jermini <notifications@github.com>
wrote:

[2019-09-08 22:03] syjer commented on #122
Hi @ofiramit , I did a test with maven 3.6.2, the build work correctly.

I got the warning:

[code]

Which I will fix later.

But the build worked as expected:

[code]

Tested with:

[code]

For the various warning, I'll try to fix them later.

[2019-09-08 22:09] syjer commented on #122
@ofiramit , I've removed the problematic entry in the pom.xml, now it build without that warning with the latest version of maven.

[2019-11-23 02:46] mzch opened #123 "[HELP] Connection Failure."
Whenever logging in, Lavagna notifies 'Connection failure. Please reload the page.'
But even reloading, the same notification shows. It seems that this happens in stomp_client.js.
Additionally, I can't log out.
I tried on 4 browsers, but the result is same. How can I fix this issue?

- Browsers
  - Chrome: 78.0.3904.108
  - Safari: 13.0.3
  - Firefox: 70.0.1
  - Vivaldi: 2.9.1705.41

- apache conf

[2019-11-23 11:13] SitoCH commented on #97
Closed due to inactivity

[2019-11-23 11:13] #97 closed

[2019-11-23 11:31] SitoCH commented on #123
Hi,
unfortunately I use NGINX so I don't know how Apache works, did you check issue #46?
This reply is likely to fix your issue: https://github.com/digitalfondue/lavagna/issues/46#issuecomment-368781249

[2019-11-23 18:23] mzch commented on #123
Yes, but not fixed.
<img width="1273" alt="ScreenShot 2019-11-24 3 12 21" src="https://user-images.githubusercontent.com/621178/69483349-8e4d3180-0e69-11ea-9521-665dbe34aa15.png">

and I tried nginx, but the result is same.
<img width="1273" alt="ScreenShot 2019-11-24 3 20 34" src="https://user-images.githubusercontent.com/621178/69483353-9907c680-0e69-11ea-8b4e-b97d06b3b179.png">

- nginx.conf
[c

[2019-11-23 18:38] mzch commented on #123
I placed back 1.1.2, then this issue never happened. Is this a bug in 1.1.3?

[2019-11-23 22:00] SitoCH commented on #123
I'm using version 1.1.3 without issues, there may be a bug but I find it a bit unlikely. Looking at your NGINX configuration it seems that you are missing this:

[code]

Can you add this elements and check if it works?

[2019-11-23 22:01] SitoCH commented on #122
Closed due to inactivity

[2019-11-23 22:01] #122 closed

[2019-11-23 22:02] SitoCH commented on #119
Closed due to inactivity

[2019-11-23 22:02] #119 closed

[2019-11-23 22:02] SitoCH commented on #113
Closed due to inactivity

[2019-11-23 22:02] #113 closed

[2019-11-23 22:16] mzch commented on #123
Great! Resolved. Thanks @SitoCH ! I still wonder what directives are put in Apache...

[2019-11-23 22:28] SitoCH commented on #123
I'm glad I could help

[2019-11-23 22:28] #123 closed

[2019-12-06 04:21] chenyong1991 opened #124 "internationalization"
It support i18n?

[2019-12-07 12:37] #60 closed

[2019-12-07 12:37] #80 closed

[2019-12-07 12:37] #88 closed

[2019-12-07 12:37] #92 closed

[2019-12-07 12:37] #100 closed

[2019-12-08 21:30] SitoCH commented on #124
Hi,
at the moment we use only English  but internationalization is supported, have a look at this file:

https://github.com/digitalfondue/lavagna/blob/master/src/main/resources/io/lavagna/i18n/messages_en.properties

[2019-12-09 06:22] chenyong1991 commented on #124
think you very much,i already see it.

[2019-12-09 06:22] #124 closed

[2019-12-21 19:45] akhepcat opened #125 "BASE_APPLICATION_URL ignores subfolder"
when setting up a reverse apache proxy on  (https://MYDOMAIN.DOM/lavagna/  to point to the localhost:8081  instance,  lavanga ignores the  directory part of the URI.

Even forcing the first access into the setup screen and setting the baseurl  correctly, after applying it is still redirecting to the '/'  instead of  '/lavagna'

[2019-12-21 21:16] akhepcat commented on #125
There are multiple instances in the code that look like:
`url: '/search/?q&page',`
which completely ignores the baseurl directive, and anchors the url incorrectly.

[2019-12-30 22:01] SitoCH commented on #125
Hi,
from what I remember it should work but we don't test that configuration. I read that you're using a reverse proxy, can you configure it to https://lavagna.MYDOMAIN.DOM ? This is our standard solution and it works fine.

[2020-01-08 21:02] joegyoung opened #127 "problem with Proxypass and SSL with websocket"
How do I put Lavagna behind Apache's Proxypass? I am having problems with wss to ws. Here is my site configuration for Apache.

[code]

When my client connects with the websocket, it gets the error-- Error during WebSocket handshake: Invalid status line

[2020-01-09 16:18] joegyoung commented on #127
Closing ticket. I ended up using this Apache config
[code]

[2020-01-09 16:18] #127 closed

[2020-01-10 01:16] akhepcat commented on #125
I don't have the ability to add subdomains, which is why i added it as a reverse via directory re-write.

A clean-up of all the URLs, so that they follow the baseurl directive, solves the issue moving forward, and keeps testing in the future much cleaner, as things will always behave as expected.

[2020-01-20 08:52] hdhog opened #128 "websocket 403 if use caddy for reverse proxy"
Caddy config

[code]

Lavagna running in official docker container.

Browser console
![image](https://user-images.githubusercontent.com/386666/72711889-69ccb780-3b83-11ea-8439-9a0325200563.png)

traffic info

![image](https://user-images.githubusercontent.com/386666/72711949-8963e000-3b83-11ea-8e1e-2585a2473172.png)

Response headers
[code]

Request headers

[code]

[2020-01-20 21:22] SitoCH commented on #128
Unfortunately we don't know much about Caddy, you can search other issues for the configuration of Apache or NGINX, maybe it'll hep you.

[2020-01-28 16:14] joegyoung commented on #128
I had the same problem with apache. It took several days of fiddling. I had an open ticket right before yours even. Here is what I remember adding to my apache config.

[code]

Lavagna does a CORS like check and then denies the connection.

[2020-02-19 22:06] nickbe opened #129 "Profile images for users"
Are there plans to provide and show a profile image for the users?

Thoroughly impressed by the project btw. 🥇

[2020-02-21 14:25] nickbe commented on #129
Also when uploading an image it cannot be displayed sometimes.  Also I think images should be opened in a popup rather than in a new browser tab.

[2020-02-24 21:45] syjer commented on #129
hi @nickbe , you are right, this part is lacking.

I'm currently focusing on others projecst, but when I'll have time I'll do it :)

[2020-02-26 14:02] hdhog opened #130 "Milestones export to excell return 500"
log

[code]

[2020-02-26 14:05] syjer commented on #130
hi @hdhog , looks like this issue: https://github.com/AdoptOpenJDK/openjdk-build/issues/693 .

I'll add a check so it will not fail if fontconfig is not installed

[2020-02-26 14:27] hdhog commented on #130
i use lavagna docker image https://github.com/digitalfondue/lavagna-docker. Installing package fontconfig inside container not resolve this problem

[2020-02-26 14:30] syjer commented on #130
@hdhog good to know, we will have a look at the default docker image too, thank you for opening this issue :+1:

[2020-02-26 14:36] hdhog commented on #130
i installed ttf-dejavu package inside image. export it's working. But generated file is corrupted

[2020-02-26 14:41] syjer commented on #130
I'll try to reproduce the error, with what program are you trying to open the generated file?

[2020-02-26 14:42] hdhog commented on #130
hm. If i export file from Microsoft Edge, file is correct. If i export from Firefox on linux file is corrupted.

from linux file size 2585
from windows file size 10752

[2020-02-26 14:43] syjer commented on #130
well, that's quite strange :D. Thank you for the hint, I'll have a look

[2020-02-26 14:44] hdhog commented on #130
File exported on windows is open all (ms office 2019 on windows and libreoffice on linux)

[2020-02-26 14:46] hdhog commented on #130
Firefox on windows => corrupted file
Google chrome on windows => good file

[2020-02-26 14:47] hdhog commented on #130
[PERSON-base(1).xlsx](https://github.com/digitalfondue/lavagna/files/4256341/PERSON-base.1.xlsx)

Corrupted file in attachment

[2020-02-26 14:53] hdhog commented on #130
In firefox server responce size 2.5Kb

![image](https://user-images.githubusercontent.com/386666/75356148-f6783d00-58c8-11ea-878e-c3c045920449.png)

request header
[code]

response header
[code]

[2020-02-26 14:59] syjer commented on #130
the corrupted file seems to be the gzipped excel (but truncated), quite strange.

I tried locally with firefox but it works on my side.

[2020-02-26 21:47] SitoCH commented on #130
The CI build should have updated the Docker image, can you try it?

[2020-02-27 05:46] hdhog commented on #130
New image is working!

[2020-02-27 12:50] www-yyy-1 opened #131 "There are several CVEs in the project dependencies"
Hi,
I found some CVEs in the library dependencies, which may affect the security of your projects. I suggest a library update to avoid potential risks. The following is a detailed content.
* **Vulnerable Library Version:** mysql : mysql-connector-java : 5.1.48
  **CVE ID:** [CVE-2019-2692](https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2019-2692)
  **Import Path:** pom.xml
  **Suggested Safe V

[2020-02-27 13:07] syjer commented on #131
hi @www-yyy-1 , thank you for reporting the issue. It seems that the 5.x version are not affected (https://www.securityfocus.com/bid/107925)

But I've updated nonetheless the driver as it was time to do it

[2020-02-27 13:07] #131 closed

[2020-02-27 21:10] SitoCH commented on #130
Perfect, thank you very much again.

[2020-02-27 21:10] #130 closed

[2020-02-28 23:26] nickbe commented on #129
I'm really looking forward to having this some day. It's really something missing. :)
Thanks

[2020-03-04 09:21] syjer commented on #129
This will be done for sure:

 - viewing images as thumbnails in card details
 - images will be opened in a lightbox instead of a new tab

This ones will require some additional check as they may have a bigger impact:

 - cards that directly show a preview of the first attached image on the board
 - user profile images
 - having a background image/color for each project and showing the project imag

[2020-03-05 22:53] nickbe commented on #129
I'll try to give you an example of an image that is not displayed.

[2020-03-05 23:24] nickbe opened #133 "How can I move projects to the trashcan"
... and empty the trash to delete projects and old cards for good?

[2020-03-06 09:12] syjer commented on #133
hi @nickbe , at the moment you can only archive projects.

Additionally, deleting for good a card or projects is not supported as it has some not simple to handle implications (for example: linked issues).

I don't think we will ever support the total deletion of cards and projects.

[2020-03-06 22:39] nickbe commented on #133
I think that this implies privacy issues. A user should be able to delete his own comments and also delete his own cards if he wants to. Otherwise we're bound to have a lot of trash accumulating over time.

[2020-03-18 15:44] nickbe opened #134 "Compiling with current JDK throws error"
Failed to execute goal org.apache.maven.plugins:maven-compiler-plugin:3.5.1:compile (java-compile) on project lavagna: Compilation failure
[ERROR] X:\Workspace\GitHub-Systeme\lavagna\src\main\java\io\lavagna\service\ProjectService.java:[37,8] cannot access java.lang.Object
[ERROR]   bad class file: /modules/java.base/java/lang/Object.class
[ERROR]     class file has wrong version 58.0, should be 5

[2020-03-18 15:46] syjer commented on #134
hi @nickbe ,

using sdkman, I'm using the following version:

...

[2020-03-18 16:08] nickbe commented on #134
Seems that this version for windows is not available for download anymore.

[2020-03-18 16:11] syjer commented on #134
@nickbe , you can download from:

 - https://adoptopenjdk.net/releases.html
 - https://developers.redhat.com/products/openjdk/download
 - https://www.azul.com/downloads/zulu-community/?architecture=x86-64-bit&package=jdk-fx

[2020-03-18 16:40] nickbe commented on #134
Success 😁  Thanks a lot !

[2020-03-25 08:43] mbcon opened #135 "Deployment failed on Wildfly 14 / OpenJDK 11"
Hi guys,
I have an issue when deploying Lavagna 1.1.4 prebuild WAR on Wildfly 14 / OpenJDK 11.
Using OpenJDK8 works fine.

Thanks for investigating, fix would be very much appreciated!

Best,
mbcon

09:36:40,145 INFO  [stdout] (ServerService Thread Pool -- 83) 09:36:40.135 [ServerService Thread Pool -- 83] ERROR org.springframework.web.context.ContextLoader - Context initialization failed
09:36:40

[2020-03-25 10:33] syjer commented on #135
So, it seems that https://github.com/digitalfondue/lavagna/blob/master/src/main/java/io/lavagna/common/LavagnaEnvironment.java#L40 has some issue while reading the properties. Have you set them?

Do you have the full stacktrace as it seems to lack the part where it fails inside `LavagnaEnvironment` ?

[2020-03-25 10:53] mbcon commented on #135
Yes, I have set the relevant properties when starting Wildfly.
./bin/standalone.bat -Ddatasource.dialect=HSQLDB -Ddatasource.url=jdbc:hsqldb:mem:lavagna -Ddatasource.username=sa -Ddatasource.password= -Dspring.profiles.active=prod

Using OpenJDK8, the same setup just works fine.
[wildfly-server.log](https://github.com/digitalfondue/lavagna/files/4380373/wildfly-server.log)

[2020-03-25 10:55] syjer commented on #135
ok, seems a log4j issue:

[code]

I'll have a look

[2020-03-26 20:43] syjer commented on #135
@mbcon , I was able to push a fix for the latest wildfly (19.0.0).

Now the combination java11+widlfly 19.0.0 (Servlet-Only Distribution) is working.

Your specific issue seems related to multi release jar used by log4j2 ( https://issues.redhat.com/browse/WFCORE-4266  ) which has been fixed in wildfly 16.0.0.Final. (I tried 14, 15 and both failed).

[2020-03-27 10:30] mbcon commented on #135
Hello @syjer,
Thanks for looking into my issue and the proposed solution. Unfortunately I am currently tied to WF14 for reasons. But your link on the WFCORE issue made smarter.
I am now trying to build a specific JBoss module for Lavagna jars that cause issues (log4j, Spring).
Now I have Lavagna running with java11/WF14 by just a new module and an entry in standalone.xml. First tests look promisin

[2020-04-01 12:22] majugurci opened #136 "Bug: File upload 0B"
Hi,

I have found this previous issue: https://github.com/digitalfondue/lavagna/issues/92

I believe this bug is still present.

If I add any file while while creating the card the file becomes 0B.
If I add the file to previously created card it is working fine.

Once the file becomes 0B I need to rename it and change it's content in order to get it to work.

[2020-04-01 12:24] syjer commented on #136
hi @majugurci  I'll have a look, thank you for opening the bug.

[2020-04-01 12:29] majugurci commented on #136
Thank you for this wonderful app :)

Here is a suggestion: if it is too much work to investigate/fix this bug maybe it's easier to just disable the file upload when inserting the card and enable it when updating the card.

[2020-04-01 13:26] syjer commented on #136
@majugurci I think I have pinpointed and fixed the issue, I'll do a release asap :)

[2020-04-01 14:48] syjer commented on #136
@majugurci , I did the release 1.1.6 (https://github.com/digitalfondue/lavagna/releases/tag/lavagna-1.1.6) , the docker image will be done asap (if you are using it)

[2020-04-01 15:21] majugurci commented on #136
@syjer Thank you very much for fast work. I have tested the new version and it is working all right :)

[2020-04-01 15:23] syjer commented on #136
@majugurci thank you for opening the issue and testing :+1: :)

[2020-04-01 15:23] #136 closed

[2020-04-02 08:42] majugurci opened #137 "Bug/Enhancements: Setup - Import configuration"
Hi,

i have noticed few things while importing configuration.

1. You can click on import button when file is not selected. The UI just refreshes without showing any message. It would be good to disable the import button if no file was selected or to show the message that you must select the file first. In the server console you get the following warning:
[code]

2. When I select the file there is

[2020-04-02 08:55] majugurci opened #138 "UI Bug: Dialog content not visible"
Hi,

I have noticed one small bug in dialogs.
If dialog is larger (taller) there is no vertical scrollbar. You just can't see all of the content.
You can zoom out the page and then see it all.

Example on roles page.
Without zoom:
![image](https://user-images.githubusercontent.com/481077/78229288-13a7b900-74d0-11ea-83dd-5d38e8e6b4a1.png)

Zoomed out:
![image](https://user-images.githubusercontent.

[2020-04-02 10:41] mbcon commented on #135
Hi again,
Lavagna works like a charm on WF14/JDK11. I have attached the description of the WF module necessary to get this done.

Don't forget to reference the module in your standalone.xml config under <subsystem xmlns="urn:jboss:domain:ee:4.0"><global-modules> ...

standalone.xml is also a good place to configure Lavagna database config:
		<system-properties>
		        <property name="datasource

[2020-04-02 10:41] #135 closed

[2020-05-26 02:40] Ghosty001-lester opened #139 "Procedure for lavagna in eclipse"
Hello help me out with the entire procedure on how to configure and run lavagna in eclipse. Thank you.

[2020-05-27 12:55] syjer commented on #139
hi @Ghosty001-lester , as I don't use eclipse, I can't really help you. I would guess that you need to install both the lombok and kotlin plugin.

[2020-05-27 12:59] Ghosty001-lester commented on #139
What about in Intellij? Do you have the procedure?

On Wed, May 27, 2020, 15:55 Sylvain Jermini <notifications@github.com>
wrote:

[2020-05-27 13:00] syjer commented on #139
@Ghosty001-lester , well, you import the project as a gradle one,  install the lombok plugin (https://plugins.jetbrains.com/plugin/6317-lombok) and you should be good to go.

[2020-05-27 13:04] Ghosty001-lester commented on #139
What about running?
How am I supposed to run it. I mean should I run lavagna from the Intellij
or from a web?

On Wed, May 27, 2020, 16:00 Sylvain Jermini <notifications@github.com>
wrote:

[2020-05-27 13:06] syjer commented on #139
@Ghosty001-lester it's written in the README: https://github.com/digitalfondue/lavagna#execute .

[2020-05-27 15:25] Ghosty001-lester commented on #139
when i try this mvn jetty:run
I get this error  cannot access java.util.List
[ERROR]   bad class file: /modules/java.base/java/util/List.class
[ERROR]     class file has wrong version 55.0, should be 53.0
[ERROR]     Please remove or make sure it appears in the correct
subdirectory of the classpath.

what should I do?

On Wed, May 27, 2020 at 4:06 PM Sylvain Jermini <notifications@github.com>
wrot

[2020-05-27 15:26] syjer commented on #139
hi @Ghosty001-lester , as written in the [readme](https://github.com/digitalfondue/lavagna#java-and-kotlin), you should use java 8 to run it.

[2020-05-27 15:29] syjer commented on #139
I would advise to use https://sdkman.io/ for handling the various jvm versions

[2020-05-28 17:53] zgelp opened #140 "Card label list + string"
Hello, I am trying to implement List + string feature on the Label side of Lavagna so when you choose label, it gives you option to also input a string, and it all shows up as <List label name> : <Value from list> : <String from input> on the card when it is submitted.

What is the best approach to start this one ? I can see that database is very well designed, I tired changing the value of INT fr

[2020-05-31 12:33] syjer commented on #140
hi @zgelp , first, you need to declare a new value in the LabelType enum.

Then you need to create a new sql migration file to remove and recreate the constraint: `CARD_LABEL_TYPE_VALUE` (in the case of pgsql/hsql) and the LA_FUN_CARD_LABEL_ENFORCE function for mysql.

Then I think it should be quite linear.

[2020-09-23 13:10] fredtj opened #142 "Card description change does not update "last updated by" user"
jane creates a card with a description
bob edits the description

card shows: " Updated 1 time - Last Updated By: jane on Sep 23, 2020 2:06 PM "

[2020-09-23 13:13] fredtj commented on #142
looks like it just isn't updated immediately, but if you close and re-open the card, it is correct.

[2020-09-23 14:08] syjer commented on #142
hi @fredtj , you are right, we were not reacting to the change of the "userId". I've pushed the fix.

Thank you for opening the bug :+1:

[2020-10-07 14:38] ahmedmohiduet opened #143 "Graceful way of terminating lavagna"
Can I terminate Lavagna process from my terminal gracefully? Can't find any documentation shutting Lavagna down gracefully.

[2020-10-07 15:14] syjer commented on #143
hi @ahmedmohiduet ,

yes, you can terminate the process without issues. In the end the application state is stored in the database.

[2020-10-07 16:11] ahmedmohiduet commented on #143
hi @syjer : so, can I issue some non-CTRL+C / non-KILL command which would have Lavagna exit? I am using hsqldb file mode. but leaving Lavagna parent process terminated leaves my hsqldb db properties file property "modified=yes". And my command line backup command failing. I am looking more of a command line automated backup from my file-mode hsqldb

[2020-10-15 06:15] ahmedmohiduet opened #145 "Trello Import not creating missing users"
Can I import users from Trello as well along with my project board?

[2020-10-15 16:41] #143 closed

[2020-10-15 16:45] ahmedmohiduet commented on #143
Closing. It looks like exists inside hsqldb server mode...

[2020-10-31 22:07] alinuxGit opened #146 "Consider the existence of 'unnaccent' extension on database for Postgresql"
In some context for security reasons the database user could not have superuser or database owner privileges for creating the **_unaccent extension_**. This extension could be create by database admin, but at first installation the next error will be thrown:

[code]
I think will be enough to modify the next sql statement on file **V1__INITIAL_VERSION.sql**

[code]

[2020-11-02 12:48] syjer commented on #146
hi @alinuxGit , thank you for opening the issue, I'll have a look if I can modify the statement as you suggested.

[2020-11-03 13:57] syjer commented on #146
I've pushed the fix. After I do some updates, I will do a release. Thank you for opening the issue :)

[2020-11-03 18:04] alinuxGit commented on #146
thank you @syjer I really appreciate your fix velocity. I can't wait to install the new version.

[2020-11-03 18:04] #146 closed

[2021-01-23 16:08] #125 closed

[2021-01-28 04:53] JamesDandy opened #149 "HTTP ERROR 503 Service Unavailable"
I'm no SQL or Jetty expert by any means but I think I've done a good job of following the instructions at the link below. I cannot get past the setup phase because it does not appear that the service is running properly. I do get a few errors reported when running the batch file. If I use the Windows service it starts okay but I get the same issue with the 503 error.

the errors I see when launchi

[2021-01-28 10:31] syjer commented on #149
Hi @JamesDandy

The main issue seems to be some kind of failure during the setup of the database:

At a certain point, it failed to "install" a sql script. What kind of database are you using?

If possible, could you please delete and recreate the database?

[2021-01-28 16:10] JamesDandy commented on #149
Thank you...

I dropped the database, and re-ran the configuration query from the documentation. That gets me an error about a depreciated character set in the Mysql workbench, something about UTF8 vs UTF8MB4:
"Please consider using UTF8MB4 with an appropriate collation instead."

Leaving it alone, I went ahead and ran one of the lavagna scripts. In the past, it would fail each time unless I remov

[2021-01-28 16:15] syjer commented on #149
which version of mysql are you using?

[2021-01-28 17:08] JamesDandy commented on #149
Version 8.0.23 (MySql Community Server - GPL) running on Win64

[2021-02-03 16:07] JamesDandy commented on #149
Per the suggestion by syjer, a complete drop and recreating the database worked BUT only after changing the ampersand to a semicolon to the datasource.url line in the xml file (and presumably in the .bat or .sh file) allowed the service to load and work properly.

[2021-02-13 07:35] #128 closed

[2021-03-02 05:21] JamesDandy opened #150 "Reduce screen space taken up by Status and people sections"
I need a lot more space for the Action List and Action Items and I don't need the Status and People sections taking up space that could otherwise be used for the Actions.

Could we find a way to collapse these sections to icons, or single line items? Maybe allow users to move these sections around (up and down or to the left or right) to meet their needs, similar to how the Action List items can b

[2021-04-07 02:26] #134 closed

[2021-04-07 02:26] #133 closed

[2021-04-11 10:40] debben80 opened #151 "[Help wanted] Websocket 403 with traefik proxy"
Hello,

I have the exact same problem as issues #123 & #128.
But I use traefik 2 on a docker swarm.

Can someone share his working configuration ?
This seems to work on http, but not on https.

I added this to my configuration but nothing works :
`"traefik.http.middlewares.lavagna-headers.headers.customRequestHeaders.X-Forwarded-Proto=https"`

Thanks,

[2021-05-05 14:35] #142 closed

[2021-06-02 16:03] #138 closed

[2021-06-08 16:54] Roy-Z-DevOps opened #152 "Unable to obtain Jdbc connection from DataSource | Connection refused"
Im trying to write a docker-compose for a lavagna and mysql container but the Keep getting a 503 on the webpage and in the logs i see the  following
[code]
version: "3.3"
services:

    db:
        image: mysql:5.7
        container_name: lavagna_db
        volumes:
            - ./db:/docker-entrypoint-initdb.d/:ro
            - db-data:/var/lib/mysql
        environment:
            MYSQL_DATABA

[2021-06-08 17:31] #152 closed

[2021-06-16 21:35] #139 closed

[2021-08-12 20:07] ghaseminya opened #153 "Add new Language"
Hi
Can i add new messages.properties for Persian language and PR?

[2021-08-13 21:37] ghaseminya opened #154 "Restrict the user to a specific project, not all projects"
Hi
How can i restrict the user to a specific project, not all projects ?

[2021-08-13 21:50] syjer commented on #154
hi @ghaseminya see https://help.lavagna.io/04-administration/04-04-access-control.html#use-roles-for-effective-access-control .

[2021-08-13 21:52] syjer commented on #153
Hi @ghaseminya , I need to check but the support should be nearly ok.

[2021-08-13 22:22] ghaseminya commented on #154
thanks @syjer

[2021-08-13 22:22] #154 closed

[2021-08-14 21:06] ghaseminya commented on #153
Now Can i start to add new translation and add Persian language to resources?
I can add language switcher comboBox to ui.
I think it can add to Admin Panel->Parameters->Configuration parameters->Language
Is it ok?

[2021-08-17 21:51] jhtlh opened #155 "--bindAddress argument does not work properly in Lavagna 1.1.7 running in Windows"
When running Lavagna 1.1.7 in Windows, the `--bindAddress` argument does not work properly.  The `--port` argument works fine.

When `--bindAddress` is not specified, Lavagna listens on all IP addresses (0.0.0.0) as expected.
When `--bindAddress <IP address>` is specified, Lavagna listens on the **_last_** IP address on the **_last_** NIC, regardless of of the IP address specified with the `--bind

[2021-09-01 15:49] mzch opened #157 "Can't send test mail"
I tried to set up SMTP server and send a test mail but failed. Nginx log is as below:

[code]

Another app hosted on the same vps can send an email.

My mail server has both IPv4 address and IPv6 address, but the host running Lavagna has only IPv4 address.
Is this related?

[2021-09-16 05:22] KeruruBruce opened #158 "Fail to start due to instantiation failure"
Hi,  I have tried using mem db HSQLDB and it works well. However, when i switch it to mySQL (mySQL 5.7), the application shows a few exceptions when launched. The application can access mySQL because some tables and functions with the LA prefix are generated in the default database `lavagna` after the execution; however, it seems to fail at certain point. In the end, the web page only shows HTTP E

[2021-09-16 05:38] KeruruBruce commented on #158
btw, I remove and recreate the default database `lavagna` every time to not cause the duplicate issue.

[2021-09-16 11:18] syjer commented on #158
hi @KeruruBruce

well, the message "Migration of schema lavagna to version 1 - INITIAL VERSION failed! Please restore backups and roll back database and code!" mean something has gone wrong during  the first install of the database on mysql.
Maybe there is an incompatibility in the sql script with your specific mysql version.

yes, you can define the following property: datasource.disable.migratio

[2021-09-22 06:10] KeruruBruce commented on #158
Hi @syjer,

Thank you. I have tried different mysql version. The migration works now with mysql 8.0.

[2021-09-22 06:11] #158 closed

[2021-10-11 00:30] landNull opened #159 ".properties file details"
We ended up going with [http://kanboard.org](url)

[2021-11-09 19:23] #145 closed

[2021-11-29 01:54] foxiumcode opened #160 "Project still alive?"
Is the project still alive or being maintained?
We love to the interface and UX and would like to use it for production.

Thanks!

[2021-11-29 07:49] syjer commented on #160
hi @foxiumcode , it's currently "dormant" as we consider it mostly done for our purpose.

We obviously accept PR / update in the code.

[2021-12-16 06:10] cmdntd opened #161 "When I go to /setup, it has 403 error"
This is error:
[code]

[2021-12-29 10:26] spiralw opened #162 "GitHub OAuth is not working"
Hi, I tried to set up OAuth with GitHub and I am getting the following error after getting redirected from GitHub:

I tried creating the account manually from admin panel with the `oauth.github` provider and marking it as active, but the error is still present.

Here is the configuration in Lavagna:
![image](https://user-images.githubusercontent.com/64013111/147652468-c02b486b-ae1c-4b22-a615-9b25f

[2021-12-29 10:46] syjer commented on #162
hi @spiralw

looking at the configuration it seems everything is correct, I'll have a look this afternoon if we have introduced some bug.

[2021-12-29 15:01] syjer commented on #162
hi @spiralw , I confirm we need to change something on our side, we need to update our oauth connector: https://developer.github.com/changes/2020-02-10-deprecating-auth-through-query-param/
.

[2021-12-29 15:55] syjer commented on #162
I'll do a small check for the other oauth provider, if everything is ok, I'll do a release tomorrow, thank you for reporting the issue :+1:

[2021-12-30 15:18] syjer commented on #162
should be fixed in the 1.1.9 release.

[2021-12-30 15:18] #162 closed

[2021-12-30 15:24] spiralw commented on #162
it's working perfectly now, thanks!

[2022-03-19 14:55] Iguanoddon opened #163 "Unable to setup lavagna with hsqldb:file: - wrong csrf"
I tried to setup Lavagna with hsqldb but I when I click on "activate" at the end of the configuration steps it does nothing and prints "wrong csrf".
[code]

[2022-06-12 14:37] #150 closed

[2022-06-12 14:37] #151 closed

[2022-07-24 20:37] mzch commented on #157
Finally Lavagna fails to negotiate SSL session with the latest Postfix mail server. My postfix server accept only TLSv1.1 - TLSv1.3. Is it related?

- Postfix log
[code]

[2022-07-24 21:47] mzch commented on #157
- Lavagna log
[code]

[2022-07-30 21:10] codemeddler commented on #161
Not sure how you are running the service,  but I noticed the same problem running lavagna from the docker image. However, I was able to get in the system by just doing a "user user" on the login page (not adding the /setup). Seems the system is running in a demo mode in that case.

My guess is the /setup page becomes available if you hook it into an actual database instead of running the built-in

[2022-08-21 17:36] Apurvajarwal opened #164 "service counter"
8.	 **As a** [role]
9.	 **I need** [function]
10.	 **So that** [benefit]
11.
12.	 ### Details and Assumptions
13.	 * [document what you know]
14.
15.	 ### Acceptance Criteria
16.
17.	 ```gherkin
18.	 Given [some context]
19.	 When [certain action is taken]
20.	 Then [the outcome of action is observed]
[code]

[2022-10-21 14:27] EliranBS commented on #152
How did you solve the problem?

[2022-10-21 14:45] EliranBS opened #165 "ERROR 1146"

[2022-10-27 10:43] #165 closed

[2022-10-27 10:44] EliranBS commented on #165
.

[2022-11-12 17:04] #155 closed